<a href="https://colab.research.google.com/github/Nikkiie/Python-questions/blob/main/Basic_py_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#To remove multiple elements from a list

listnum = [12, 44, 67, 89]
del listnum[0:4]
print(listnum)

[]

In [ ]:
#To remove multiple elements from a list

list1 = [11, 5, 17, 18, 23, 50]
unwanted = [0, 3, 4]

for elm in sorted(unwanted, reverse=True):
  del list1[elm]
  print(list1)

[11, 5, 17, 18, 50]
[11, 5, 17, 50]
[5, 17, 50]

In [ ]:
# To print triangle pattern 

n = int(input("Enter the number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

Enter the number:8
1
12
123
1234
12345
123456
1234567
12345678

In [ ]:
n = int(input("Enter the number:"))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i,end="")
  print()

Enter the number:6
1
22
333
4444
55555
666666

In [ ]:
# To print triangle in different shape
n = int(input("Enter the number:"))
for i in range(n,0,-1):
  for j in range(1, i+1):
    print(j,end="")
  print()

Enter the number:8
12345678
1234567
123456
12345
1234
123
12
1

In [ ]:
#To count vowels from a sentence

sentence = input("Enter the sentence:")
string = sentence.lower()
count = 0
list1 = ['a', 'e', 'i', 'o', 'u']

for char in string:
  if char in list1:
    count = count+1

print("Number of vowels in given sentence is:", count)

Enter the sentence:callmewhenyouwant
Number of vowels in given sentence is: 6

In [ ]:
#User will input (3ages).Find the oldest one

first = int(input("Enter the first age:"))
second = int(input("Enter the second age:"))
third = int(input("Enter the third age:"))

maxx = a
if maxx < b:
  maxx = b  
if maxx < c:
    maxx = c
print(maxx)

Enter the first age:7
Enter the second age:9
Enter the third age:5
11

In [ ]:
#. Write a program that will convert celsius value to fahrenheit

temp = float(input("Enter the temp:"))
fahrenheit = (temp*1.8)+32
print(fahrenheit)

Enter the temp:8.9
48.019999999999996

In [ ]:
#Write a program that will give you the sum of 3 digit??
num = int(input("Enter the number:"))

a = num % 10 #(345 % 10 = 5)
num = num // 10 #(345 // 10 = 34)
b = num % 10 #(345 % 10 = 4)
c = num // 10 #(34 // 10 = 3)

val = (a+b+c)
print(val)

Enter the number:123
6

In [ ]:
#Write a program that will reverse a four digit number.Also it checks whether the reverse is true.
user_input = int(input("Enter the 4 digit number:"))
num = user_input
#digit

a = num % 10
num = num // 10

b = num % 10
num = num // 10

c = num % 10
d = num // 10

#formula
rev = 1000*a+100*b+10*c+d
print('original no', user_input)
print('reversed',rev)

#check
if user_input == rev:
  print('true')
else:
  print('false')

Enter the 4 digit number:1234
original no 1234
reversed 4321
false

In [ ]:
#To reverse a string

def reverse(string):
  reversed_str = " "
  for i in string:
    reversed_str = i+reversed_str
  print("reversed string is",reversed_str)

string = input("enter a string:")
print("entered string",string)
reverse(string)

enter a string:rang
entered string rang
reversed string is gnar

In [ ]:
# To check entered number is perfect or not

num =  int(input("Enter the number:"))
result = 0
for i in range(1, num):
  if (num % i) == 0:
    result = result+i
if result == num:
  print(num,"is perfect no")
else:
  print(num, "is not a perfect no")

Enter the number:6
6 is perfect no

## String ques from ytube dur---

In [ ]:
# Program to print string whose number are more than 5

l1 = ['Apple', "Grapes", "Lemon", "pomogrenate", "litchi", "yoghurt"]
f = lambda x: len(x)>5
l2 = []
for y in l1:
  if f(y)==True:
    l2.append(y)
print(l2)

['Grapes', 'pomogrenate', 'litchi', 'yoghurt']

In [ ]:
# program to reverse given string

s = 'nikki'
s1 = s[::-1]
print(s1)

# without using slicing

new = ''
i = len(s)-1
while i > 0:
  new = new+s[i]
  i = i-1
print(new)

In [ ]:
#program to reverse order of words

s = 'i have to have it'
l = s.split()
l1 = l[::-1]
print(l1)
out = ' '.join(l1)
print(out)

['it', 'have', 'to', 'have', 'i']
it have to have i

In [ ]:
# to reverse internal content of each word

s = "will not accept it"
s1 = s.split()
s2 = []
for word in s1:
  s2.append(word[::-1])
print(s2)
output = ' '.join(s2)
print(output)

['lliw', 'ton', 'tpecca', 'ti']
lliw ton tpecca ti

In [ ]:
#to print char present at even odd seperately

string = "qwerty"
i = 0
print("Characters present at even index")
while(i<len(string)):
  print(string[i])
  i = i+2

#for odd just change i = 1

Characters present at even index
q
e
t

In [ ]:
# to sort char of strings first alpha followed by digits

s = 'B3H5j8L0'
alphas = []
digit = []
for elm in s:
  if elm.isalpha():
    alphas.append(elm)
  else:
    digit.append(elm)
out = ' '.join(sorted(alphas)+sorted(digit))
print(out)

B H L j 0 3 5 8

In [ ]:
def sum(*args):
  total = 0
  for x in args:
    total = total+x
    print("The sum:",total)

sum()
sum(10)
sum(10,20)

The sum: 10
The sum: 10
The sum: 30

In [ ]:
def f1(**Kwargs):
  print(Kwargs)

f1 (name='Nik', rollno = 100, marks = 900)

{'name': 'Nik', 'rollno': 100, 'marks': 900}

In [ ]:
# prg for following requirement in = a4b3c2 out = aaaabbbcc

s = 'g6y7u8' 
output = ""
for ch in s:
  if ch.isalpha():
    x = ch 
  else:
    d = int(ch)
    output = output + x*d 
print("".join(sorted(output)))

gggggguuuuuuuuyyyyyyy

In [ ]:
#in = abaabbca  out = 4a3b1c

s = 'abaabbca'
d = {}
for ch in s:
  d[ch] = d.get(ch,0)+1
  output = ""
  for k,v in d.items():
    output = output + str(v)+k
print(output)

4a3b1c

In [ ]:
# prg for following requirement in = aaaabbbcc out = 4a3b2c

s = 'aaaabbbcc'
prev = s[0]
output = ''
c = 1
i = 1
while i< len(s):
  if s[i]==prev:
    c = c+1
  else:
    output = output + str(c) + prev
    prev = s[i]
    c = 1
  if i == len(s)-1:
     output = output + str(c) + prev


    i = i+1
print(output)

In [ ]:
# In = a4k3b2   out = aeknbd

s = 'a4k3b2'
out = ''

for ch in s:
  if ch.isalpha():
    out = out + ch
    x = ch
  else:
    d = int(ch)
    new = chr(ord(x)+d)
    out = out + new
print(out)

aeknbd

In [ ]:
# To remove duplicate values from string

s = 'AAVVHHJKLLLDWNMMMIP'
output = ''
for ch in s:
  if ch not in output:
    output = output + ch
    print(ch)

In [ ]:
#Find no. of occurances of each char present in str

s = 'AAVVHHJ'
l = []
for ch in s:
  if ch not in l:
    l.append(ch)
for ch in sorted(l):
  print('{} occurs {} times'.format(ch,s.count(ch)))

A occurs 2 times
H occurs 2 times
J occurs 1 times
V occurs 2 times

In [ ]:
# find no of occurances of each vowel present in str

s = 'vanguardiumleviosa'
v = {"a","e","i","o","u"}
d = {}

for ch in s:
  if ch in v:
    d[ch] = d.get(ch,0)+1
for k,v in sorted(d.items()):
  print('{} occurs {} times'.format(k,v))

a occurs 3 times
e occurs 1 times
i occurs 2 times
o occurs 1 times
u occurs 2 times

In [ ]:
#check whether two str are anagrams or not

s1 = input('Enter first:')
s2 = input('Enter second:')

if sorted(s1) == sorted(s2):
  print("BOTH ARE ANAGRAMS")
else:
    print("not anagrams")

Enter first:lazy
Enter second:zaly
BOTH ARE ANAGRAMS

In [ ]:
# for requirement in = 'abcdefg' 'xyz' '12345' out = ax1, by2, cz3, d4, e5, f, g

s1 = 'abcdefg'
s2 = 'xyz'
s3 = '12345'

i=j=k=0
while i<len(s1) or i<len(s2) or i<len(s3):
  output = ''
  if i<len(s1):
   output = output + s[i]
     i = i+1
    if i<len(s2):
      output = output + s[j]
        j = j+1
      if i<len(s3):
   output = output + s[k]
      k = k+1
print(output)

## LIST PROGRAMS FROM GEEKS--------------------------------------------------------

In [ ]:
#Python program to interchange first and last elements in a list

l1 = [1,2,45,67,66,0]
n = l1[0]
l1[0]= l1[len(l1)-1]
l1[len(l1)-1] = n
print(l1)

[0, 2, 45, 67, 66, 1]

In [ ]:
#Python program to swap two elements in a list

list1 = [88,90,77,4,66]
pos1,pos2 = 1,4
list1[pos1],list1[pos2] = list1[pos2],list1[pos1]
print(list1)

[88, 66, 77, 4, 90]

In [ ]:
#Ways to find length of list

l1 = [20,88,99,5,0,33,7]
count = 0
for i in l1:
  count = count + 1
print("Length of list is", count)

Length of list is 7

In [ ]:
#Check if element exists in list in Python

#num = int(input('Enter any number:'))
l1 = [1, 6, 3, 5, 3, 4]

i=3
if i in l1:
  print("exists")
else:
  print('nope')

exists

In [ ]:
# Different ways to clear a list in Python

list1 = [2,34,5,6,6]
list1.clear()
print(list1)

#or with *=
list1 = [2,34,5,6,6]
list1 *= 0
print(list1)

[]
[]

In [ ]:
#Reversing a list 
list1 = [2,34,5,6,6]
l = list1[::-1]
print(l)

#or using reverse 
list1 = [2,34,5,6,6]
list1.reverse()
print(list1)

[6, 6, 5, 34, 2]

In [ ]:
#program to find the sum of all the elements in the list.
list1 = [2,34,5,6,6]
total = 0

for i in range(0, len(list1)):
  total = total + list1[i]

print('sum is', total)

#or using sum 

list1 = [2,34,5,6,6]
total = sum(list1)
print(total)

sum is 53
53

In [ ]:
#Multiply all numbers in the list

list1 = [1, 2, 3]
result = 1
for x in list1:
  result = result * x
print(result)

#while using functions---------------

def mullist(list1):
  result = 1
  for x in list1:
    result = result * x
  return result

given = [1, 2, 3]
print(mullist(given))

6
6

In [ ]:
#program to find smallest number in a list

list1 = [10, 20, 4, 45, 99]
list1.sort()
print('The smallest no is', list1[0])

#Or use min 
list1 = [10, 20, 4, 45, 0, 99]
print('The smallest no is', min(list1))

In [ ]:
#program to find largest number in a list

list1 = [10, 20, 4, 1000, 45, 99]
list1.sort()
print('The smallest no is', list1[-1])

#Or use max 
list1 = [10, 20, 4, 45, 0, 99]
print('The smallest no is', max(list1))

The smallest no is 1000
The smallest no is 99

In [ ]:
#program to find largest number in a list while taking input from user

list1 = []
num = int(input("Enter number of elements in list: "))
for i in range(1, num+1):
   ele = int(input("Enter elements: "))
   list1.append(ele)

print("Largest element is:", max(list1))

In [ ]:
#program to find second largest number in a list

list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
list2 = list(set(list1))
list2.sort()
print("Second largest element is:", list2[-2])

Second largest element is: 45

In [ ]:
# Python program to print Even Numbers in a List

list1 = [10, 21, 4, 45, 66, 93]
for num in list1:
  if num%2==0:
    print(num, end=' ')

10 4 66

In [ ]:
# Python program to print odd Numbers in a List

list1 = [10, 21, 4, 45, 66, 93]
for num in list1:
  if num%2==1:
    print(num, end=' ')

21 45 93

In [ ]:
# Python program to print Even Numbers in given range

start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))

for num in range(start, end+1):
  if num%2==0:
    print(num, end=' ')

In [ ]:
# Python program to print odd Numbers in given range

start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))

for num in range(start, end+1):
  if num%2==1:
    print(num, end=' ')

Enter the start of range: 2
Enter the end of range: 10
3 5 7 9

In [ ]:
#program to print positive numbers in a list
list1 = [12, -7, 5, 64, -14]
for i in list1:
  if i<0:
    list1.remove(i)
    
print(list1)

[12, 5, 64]

In [ ]:
#program to print all negative numbers in a range

start = int(input('Enter the starting number'))
end = int(input('Enter the ending number'))

for num in range(start, end+1):
  if num<0:
    print(num, end=' ')

Enter the starting number-7
Enter the ending number2
-7 -6 -5 -4 -3 -2 -1

In [ ]:
#Remove empty List from List

test_list = [5, 6, [], 3, [], [], 9]
res = list(filter(None, test_list))
print(res)

#or using list compre------------
test_list = [5, 6, [], 3, [], [], 9]
res = [ele for ele in test_list if ele != []]
print(res)

[5, 6, 3, 9]
[5, 6, 3, 9]

In [ ]:
# Python program to remove empty tuples from a list

tup = [(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]
res = [ele for ele in tup if ele]
print(res)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [ ]:
#Cloning or Copying a list

def cloning(list1):
  copy = []
  copy.extend(list1)
  return copy

list1 = [4, 8, 2, 10, 15, 18]
list2 = cloning(list1)
print("Original List:", list1)
print("After Cloning:", list2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
#Count occurrences of an element in a list
def counting(list1, x):
  count = 0
  for ele in list1:
    if (ele == x):
      count = count + 1
  return count

list1 = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,counting(list1, x)))

8 has occurred 5 times

In [ ]:
#Remove elements larger than a specific value from a list in ?????

num_list = [30, 200, 65, 88, 98, 500, 34]

for num in num_list:
  if num > 66:
    num_list.remove(num)

print(num_list)

[30, 65, 98, 34]

In [ ]:
#Find index of maximum item in list
num = [30, 200, 65, 88, 98, 500, 34]
l1 = max(num)
print('Index of max is', num.index(l1))

Index of max is 5

In [ ]:
# program to delete the last element from the list

num = ['gvjv', 'bjeadb', 'nljv']
l1 = num.pop()
print(num)



#using slice func
name = ["Geeks", "For", "Geeks"]
print("Original list: ",name)
  

name= name[:-1]
  

print("New list: ",name)

['gvjv', 'bjeadb']
Original list:  ['Geeks', 'For', 'Geeks']
New list:  ['Geeks', 'For']

In [ ]:
#program to find the sum of a Sublist
l = [4, 10, 5, 3, 3]
i = 0
j = 1
ans = 0
for i in range(i, j+1):
  ans = ans + l[i]

print(ans)

14

In [ ]:
#Program to Square Each Odd Number in a List using List Comprehension
l = [4, 10, 5, 3, 3]
c = [i*i for i in l if i%2!=0 ]
print(c)

[25, 9, 9]

In [ ]:
#Remove common elements from two list in Python ???

a = [1, 2, 3, 4, 5]
b = [4, 5, 6, 7, 8]
z = []

for i in a:
  if i in b:
    a.remove(i)
    b.remove(i)

print(z)

[]

In [ ]:
#Find Index containing String in List
list1 = ['sravan', 98, 'harsha', 'jyothika',
         'deepika', 78, 90, 'ramya']

for i in list1:
  if (type(i)==str):
    print(list1.index(i))

In [ ]:
#Convert list of dictionaries to dictionary of lists

data = [
    {'name': 'sravan', 'subjects': ['java', 'python']},
    {'name': 'bobby', 'subjects': ['c/cpp', 'java']},
    {'name': 'ojsawi', 'subjects': ['iot', 'cloud']},
    {'name': 'rohith', 'subjects': ['php', 'os']},
    {'name': 'gnanesh', 'subjects': ['html', 'sql']}
 
]
dict_of_list = {}
for item in data:
  name = item['name']
  dict_of_list[name] = item

dict_of_list

In [ ]:
#Concatenate two list of lists Row-wise
test_list1 = [[4, 3, 5, ], [1, 2, 3], [3, 7, 4]]
test_list2 = [[1, 3], [9, 3, 5, 7], [8]]

for i in range(0, len(test_list1)):
  test_list1[i].extend(test_list2[i])

print("The concatenated Matrix : " + str(test_list1))

The concatenated Matrix : [[4, 3, 5, 1, 3], [1, 2, 3, 9, 3, 5, 7], [3, 7, 4, 8]]

## BASIC QUES FROM GEEKS

In [ ]:
# program to add two numbers: 

num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))

s = num1 + num2
print(f"The sum of two numbers is", s)

Enter the first number:4
Enter the second number:4
The sum of two numbers is 8

In [ ]:
# To print max number 

def maximum(a,b):
  if a>=b:
    return a
  else:
      return b

pp =  print(maximum(4,7))

7

In [ ]:
#Or
a = 10
b = 40
maxi = max(a,b)
print(maxi)

In [ ]:
#To find max of 3 numbers
n1 = int(input("Enter the number:"))
n2 = int(input("Enter the number:"))
n3 = int(input("Enter the number:"))

if n1>n2 and n1>n3:
  largest = n1
elif n2>n3 and n2>n1:
  largest = n2
else:
  largest = n3

print("Largest among 3 number is", largest)

In [ ]:
# 2> To find factorial

n = int(input("Enter the number:"))
result = 1
for i in range(n,0,-1):
  result = result * i

print("factorial of", n, "is", result)

In [ ]:
# 3> To find S.I

def simple_interest(p,r,t):
  print('The principal is',p)
  print('The rate is',r)
  print('The time is',t)
  si = (p*r*t)/100
  print('The simple int is ',si)
  return si

simple_interest(8,6,8)

In [ ]:
# 4> To find C.I

def compound_interest(principle, rate, time):
  amount = principle*(pow((1+rate/100),time))
  compound_interest = amount-principle
  print("ci is", compound_interest)
compound_interest(10000,10.25,5)

In [ ]:
#To swap the numbers

a = int(input("Enter the number:"))
b = int(input("Enter the number:"))

c = a
a = b
b = c

print("After swapping")
print("The value of a", a)
print("The value of b", b)

In [ ]:
#To swap the numbers without the third variable
a = int(input("Enter the number:"))
b = int(input("Enter the number:"))

a = a+b
b = a-b
a = a-b

print("After swapping")
print("The value of a", a)
print("The value of b", b)

In [ ]:
#Program to find area of circle

a = int(input("Enter the number:"))
res = a*a*3.14

print("Area of circle is:", res)

Enter the number:3
Area of circle is: 28.26

In [ ]:
# To check entered number is prime or not - a number that can be divided exactly only by itself and 1, for example 7, 17 and 41
num = int(input("Enter the number:"))
if num>1:
  for i in range(2, num):
    if(num%i) == 0:
      print(num, "is not a prime number")
      break
  else:
      print(num, "is a prime number")
      
else:
  print(num, "is not a prime number")

In [ ]:
# To print prime numbers
lower = int(input("Enter the lower number:"))
upper = int(input("Enter the upper number:"))

for i in range(lower, upper+1):
  if i>1:
    for j in range(2, i):
      if(i%j)==0:
        break
    else:
        print(i)

In [ ]:
#Fibonacci numbers series

num =  int(input("Enter the number you want in this series:"))
first = 0
second = 1
for i in range(num):
  print(first)
  temp = first
  first = second
  second = temp+second

In [ ]:
# To check whether number is fibonacci or not
import math

def perfect_sq(x):
  s = int(math.sqrt(x))
  return s*s==x

n =  int(input("Enter the number you want in this series:"))
result1 = 5*(n*n)+4
result2 = 5*(n*n)-4
if perfect_sq(result1) or perfect_sq(result2):
  print(n,"is fibonacci number")
else:
   print(n,"is not a fibonacci number")

Enter the number you want in this series:10
10 is not a fibonacci number

In [ ]:
# Program for Sum of square of first n natural numbers

n = int(input("Enter the number :"))
i = 1
sum = 0
while(i<=n):
  sum = sum + (i*i)
  i = i+1
print("sum=",sum)

# for cube just multiply i three times----------------------

Enter the number :2
sum= 9

In [ ]:
# Python program to print duplicates from a list of integers

lis = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
uniquelist = []
duplicatelist = []

for i in lis:
  if i not in uniquelist:
    uniquelist.append(i)
  elif i not in duplicatelist:
    duplicatelist.append(i)

print(duplicatelist)

[1, 2, 5, 9]