<a href="https://colab.research.google.com/github/Nikkiie/Python-questions/blob/main/Imp_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Sum of First N Natural Numbers in Python

n=int(input("Enter a number: "))
sum = 0
while n>0:
  sum = sum + n
  n = n-1
print("The sum of first n natural numbers is",sum)

Enter a number: 4
The sum of first n natural numbers is 10

In [ ]:
## Program for Sum of square of first n natural numbers

n = int(input("Enter the number till u want sum :"))
i = 1
sum = 0

while i<=n:
  sum = sum + (i*i) # i value will change everytime until the condition in while loop satisfies
  i = i+1
print(sum, 'is sum' )

# for cube just multiply i three times----------------------

Enter the number till u want sum :3
14 is sum

In [ ]:
# Python Program to Find All Perfect Squares in the Given Range ex 4 is pr sq as 4=2*2, 9 = 3*3

l=int(input("Enter lower range: "))
u=int(input("Enter upper range: "))
print("perfect sq btwn range is ")
while(l<=u):
  for i in range(1,l):
    if i*i==l:
      print(l,end=' ')
  l=l+1

Enter lower range: 1
Enter upper range: 100
perfect sq btwn range is
4 9 16 25 36 49 64 81 100

In [ ]:
# Python Program to Find whether number is  Perfect Squares

In [ ]:
#Python Program to Find Prime Numbers in a Given Range

lower = int(input("enter lower range"))
upper = int(input("enter upper range"))

for num in range(lower,upper+1):
  if num>1:
    for i in range(2, num):
      if num%i==0:
        break
    else:
      print(num,"is a prime number")

In [ ]:
#prime or not - a number that can be divided exactly only by itself and 1, for example 7, 17 and 41

num = int(input("Enter the number:"))
if num >1:
  for i in range(2, num): # here range is 2 to num bcz we want the num to be checked with 2 rather than 0 or 1 aur the num which we provided.
    if (num%i) ==0:
      print(num, 'is NOT a prime number')
      break
  else:
    print(num, 'is A prime number')
    
else:
  print(num, 'is not a prime number') # as 1 is not a prime number so this else will give output that it is not a prime number

Enter the number:4
4 is NOT a prime number

In [ ]:
#To check entered number is perfect or not PF:-is a positive integer that is equal to the sum of its proper divisors. The smallest perfect number is 6, which is the sum of 1, 2, and 3.

num =  int(input("Enter the number, I know you can :) "))
result = 0

for i in range(1, num):
  if num%i == 0:
    result = result+i
if result == num:
  print(num,"is perfect no")
else:
  print(num,"is not a perfect no, baka")

Enter the number, I know you can :) 6
6 is perfect no

In [ ]:
# Find the factorial of a given number

n = int(input('Enter a number: '))
result = 1 # this will hold final output
for i in range(n, 0,-1): # we want n in backward, where starting is n ending is 0 and stepping is -1
  result = result*i
print("Factorial of", n, "is", result)

Enter a number: 4
Factorial of 4 is 24

In [ ]:
#Fibonacci numbers series

num =  int(input("Enter the number till you want in this series:"))
first = 0
second = 1
for i in range(num):
  print(first) # it prints 0 however times num is given
  temp = first
  first = second
  second = temp + second

In [ ]:
# To check whether number is fibonacci or not

import math

def PerSq(x):
  s = int(math.sqrt(x)) # it gives the sqrt of x, it will give result in flot and so using int we convert it in integer
  return s*s == x

n = int(input("Enter a number: "))
result1 = 5*(n*n)+4 # the given n number after solving should be a perfect sq or atleast one of them i.e -4 one should be per sq
result2 = 5*(n*n)-4 # the given n number after solving should be a perfect sq or atleast one of them i.e +4 one should be per sq

if PerSq(result1) or PerSq(result2):
  print(n, "is a fibonacci number-impressive")
else:
  print(n, "is not a fibonacci number-duh")

Enter a number: 4
4 is not a fibonacci number-duh

In [ ]:
def sq(x):
  s = int(math.sqrt(x))
  return s*s==x

In [ ]:
# Write a program that will convert celsius value to fahrenheit

temp = float(input("Enter the temp:"))
fahrenheit = (temp*1.8)+32
print(fahrenheit)

In [ ]:
#Write a Python program to create the multiplication table

number = int(input('Input a number: '))
for i in range(1,11):
  print('%d x %d = %d' % (number, i,  number*i))

# **PATTERN**

In [ ]:
# Python program to construct the following pattern, using a nested for loop.

width = int(input('choose pattern width '))
for i in range(1,width):
  print("*"*i)
for i in range(width, 0, -1):
  print("*"*i)

In [ ]:
n = 6
for i in range(n):
  for j in range(i+1):
    print('*',end=' ')
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
n = 7
for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *

In [ ]:
n = 6
for i in range(n):
  for j in range(i,n):
    print('*',end =' ')
  print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = 7
for i in range(n):
  for j in range(i+1):
    print(' ',end=' ')
  for j in range(i,n):
    print('*',end=' ')
  print()

  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

In [ ]:
n = 8
for i in range(n):
  for j in range(i,n):
    print(' ',end=' ')
  for j in range(i):
    print('*',end=' ')
  for j in range(i+1):
    print('*',end=' ')
  print()

                *
              * * *
            * * * * *
          * * * * * * *
        * * * * * * * * *
      * * * * * * * * * * *
    * * * * * * * * * * * * *
  * * * * * * * * * * * * * * *

In [ ]:
# To print triangle pattern 

n = int(input('Enter a number: '))
for i in range(1, n+1):
  for j in range(1, i+1):
    print(j,end=' ')
  print()

Enter a number: 8
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8

In [ ]:
n = int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(1, i+1):
    print(i,end='')
  print()

Enter a number: 8
1
22
333
4444
55555
666666
7777777
88888888

In [ ]:
n = int(input('Enter a number: '))
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

Enter a number: 9
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
# Python Program to compute simple interest given all the required values. 
 
principle=int(input("Enter the principle amount:"))
time=int(input("Enter the time(years):"))
rate=float(input("Enter the rate:"))
si = (principle*time*rate)/100
print(si)

Enter the principle amount:2000
Enter the time(years):3
Enter the rate:5.5
330.0

In [ ]:
# To find C.I

def findCi(p,r,t):
  amount = p*(pow((1+r/100),t))
  ci = amount-p
  print("Compound Interest is", ci)

findCi(10000,10,5)

Compound Interest is 6105.100000000006

In [ ]:
#Swap any two element in list

l1 = [88,90,77,4,66]
p1,p2 = 3,4
l1[p1],l1[p2] = l1[p2],l1[p1]
print(l1)

In [ ]:
#To swap the numbers without the third variable

a = int(input("Enter the number:"))
b = int(input("Enter the number:"))

a = a+b
b = a-b
a = a-b
print("After swapping")
print("The value of a is", a)
print("The value of b is", b)

# **Some prev Q<<**

In [ ]:
# Python program to remove empty list from the main list

test_list = [5, 6, [], 3, [], [], 9,[],8,[]]
res = [elm for elm in test_list if elm]
print(res)

[5, 6, 3, 9, 8]

In [ ]:
#String Palindrome Program in Python

s = input("Enter string:")
if s == s[::-1]:
  print('palin')
else:
  print('no palin')

Enter string:juhu
no palin

In [ ]:
#check whether two str are anagrams or not

s1 = input('Enter a word')
s2 = input('Enter another word, would ya?')

if sorted(s1)==sorted(s2):
  print('ITS ANAGRAM')
else:
  print('NOT A ANAGRAM boooo')

Enter a worddog
Enter another word, would ya?god
ITS ANAGRAM

In [ ]:
#Iterate over a dictionary in Python
statesAndCapitals = {
    'Gujarat': 'Gandhinagar',
    'Maharashtra': 'Mumbai',
    'Rajasthan': 'Jaipur',
    'Bihar': 'Patna'
}
 
keys = statesAndCapitals.values()
print(keys)

dict_values(['Gandhinagar', 'Mumbai', 'Jaipur', 'Patna'])

In [ ]:
#program to find second largest number in a list

l1 = [10, 20, 20, 4, 45, 45, 80, 49, 45, 99, 99]
l2 = list(set(l1))
l2.sort()
print(l2[-2])

# for smallest no change -2 with 0

80

In [ ]:
#Find words which are greater than given length in a string

def strg(k,str1):
  string = []
  text = str1.split(' ')

  for x in text:
    if len(x)>k:
      string.append(x)

  return string

k = 3
s ="geek for geeks"
print(strg(k, s))

['geek', 'geeks']

In [ ]:
#Python program to find odd numbers in range

start = int(input("Enter number to start: "))
end = int(input("Enter number to end: "))

for i in range(start, end+1):
  if i %2==1:
    print('The odds are',i)

In [ ]:
#Python Program to Swap the First and Last Element in a List

l1 = [88,90,77,4,66]
temp = l1[0]
l1[0] = l1[-1]
l1[-1] = temp
print(l1)

[66, 90, 77, 4, 88]

In [ ]:
# Python Program to reverse a given number.

num = 3456
print("Given number", num)
while num>0:
  dig = num % 10
  num = num // 10
  print(dig,end=' ')

Given number 3456
6 5 4 3

In [ ]:
#Sum of Digits Program in Python

n=int(input("Enter a number:"))
tot = 0
print('digits to be added',n)
while n>0:
  dig = n%10
  tot = tot + dig
  n = n//10
print(tot)

Enter a number:56
digits to be added 56
11

In [ ]:
# Count occurrences of an element

a = [1,2,3,1,1,5,6,1,1]
count = 0
for i in a:
  if i==1:
    count = count+1
print(count)

5

In [ ]:
a = [1,2,3,1,1,5,6,1, 2, 1,1]
count = 0
for i in a:
  if i==1:
    count=count+1
print(count)

6

In [ ]:
#count occurance of element in string

s = 'AAVVHHJopk'
l = []

for ch in s:
  if ch not in l:
    l.append(ch)
for ch in sorted(l):
  print('{} occurs {} times'.format(ch,s.count(ch)))

In [ ]:
s = 'AAVVHHJoopk'
l = []

for ch in s:
  if ch not in l:
    l.append(ch)
for ch in sorted(l):
  print('{} occurs {} times'.format(ch,s.count(ch)))

A occurs 2 times
H occurs 2 times
J occurs 1 times
V occurs 2 times
k occurs 1 times
o occurs 2 times
p occurs 1 times

In [ ]:
# Python program to print duplicates from a list of integers

lis = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2,0, 5, 6, 7, 8, 9, 9]
unq_list = []
dup_list = []

for i in lis:
  if i not in unq_list:
    unq_list.append(i)
  elif i not in dup_list:
    dup_list.append(i)

print(dup_list)

[1, 2, 5, 9]

In [ ]:
#Python Program to take a string and replace every blank space with a hyphen.

s = input("Enter string:")
s = s.replace(' ','-')
print('Modified string', s)

In [5]:
#Python Program to calculate the number of words and characters present in a string.

s = input('Enter some words')
c = 0
w = 1

for i in s:
  c +=1
  if (i==' '):
    w +=1
print("Number of words in the string:",w)
print("Number of characters in the string:",c)

Enter some wordsyul op
Number of words in the string: 2
Number of characters in the string: 6

In [7]:
#Python Program to Count Number of Lowercase Characters in a String

s = input('Enter some words')
c = 0

for i in s:
  if (i.islower()):
    c += 1
print("The number of lowercase characters is:",c)

Enter some wordsFGnm
The number of lowercase characters is: 2

In [10]:
#Python Program to Count the Number of Vowels in a String

sentence = input("Enter the sentence:")
s = sentence.lower()
vow = ['a','e','i','o','u']
count = 0

for ch in s:
  if ch in vow:
    count +=1
print("Number of vowels in given sentence is:",count)

Enter the sentence:giniae
Number of vowels in given sentence is: 4