<a href="https://colab.research.google.com/github/Nikkiie/Python-questions/blob/main/Mixed_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# program to add two numbers: 

one = int(input('Gimme some digits: '))
two = int(input('Gimme some digits: '))

s = one + two
print('Sum is = ', s)

Gimme some digits: 7
Gimme some digits: 7
Sum is =  14

In [ ]:
# To print max number

def maximum(a,b):
  if a>b:
    return a
  else:
    return b

print('The maximum number is: ', maximum(8,3))

The maximum number is:  8

In [ ]:
#To find max of 3 numbers
n1 = int(input("Enter the number:"))
n2 = int(input("Enter the number:"))
n3 = int(input("Enter the number:"))

if n1>n2 and n1>n3:
  largest = n1
elif n2>n1 and n2>n3:
  largest = n2
else:
  largest = n3

print('Largest among above is:', largest)

Enter the number:6
Enter the number:8
Enter the number:9
Largest among above is: 9

In [ ]:
#  To find S.I

def simple_int(p,r,t):
  print('The principal is:', p)
  print('The rate is:', r)
  print('The time is:', t)
  si = (p*r*t)/100
  print('The simple int is ',si)
  return si

simple_int(2,3,4)

The principal is: 2
The rate is: 3
The time is: 4
The simple int is  0.24

0.24

In [ ]:
# To find factorial ??

n = int(input('Enter a number: '))
result = 1 # this will hold final output
for i in range(n, 0,-1): # we want n in backward, where starting is n ending is 0 and stepping is -1
  result = result*i
print("Factorial of", n, "is", result)

Enter a number: 5
Factorial of 5 is 120

In [ ]:
#To swap the numbers

a = int(input("Enter the number:"))
b = int(input("Enter the number:"))

c = a
a = b
b = c

print("After swapping")
print("The value of a is", a)
print("The value of b is", b)

Enter the number:0
Enter the number:9
After swapping
The value of a is 9
The value of b is 0

In [ ]:
#To swap the numbers without the third variable

a = int(input("Enter the number:"))
b = int(input("Enter the number:"))

a = a+b
b = a-b
a = a-b

print("After swapping")
print("The value of a is", a)
print("The value of b is", b)

Enter the number:66
Enter the number:90
After swapping
The value of a is 90
The value of b is 66

In [ ]:
# To find C.I

def C_I(p,r,t):
  amount = p*(pow((1+r/100),t))
  compound_interest = amount-p
  print("Compound Interest is", compound_interest)

C_I(10000,10.25,5)

Compound Interest is 6288.946267774416

In [ ]:
#Program to find area of circle

r = int(input("Enter area in number:"))
formula = r*r*3.14

print("Area of circle is:", formula)

Enter area in number:3
Area of circle is: 28.26

In [ ]:
# To check entered number is prime or not - a number that can be divided exactly only by itself and 1, for example 7, 17 and 41

num = int(input("Enter the number:"))
if num > 1:
  for i in range(2, num):
    if (num%2) == 0:
      print(num, "is NOT a PRIME number")
      break
    else:
      print(num, 'is a prime number')
      break
else:
  print(num, "IT is NOT a PRIME number")

Enter the number:10
10 is NOT a PRIME number

In [ ]:
# To print prime numbers

lower = int(input("Enter the lower number:"))
upper = int(input("Enter the upper number:"))

for i in range(lower, upper+1):
  if i>1:
    for j in range(2, i):
      if (i%j)==0:
        break
      else:
        print(i)
        break

Enter the lower number:3
Enter the upper number:9
3
5
7
9

In [ ]:
# Program for Sum of square of first n natural numbers

n = int(input("Enter the number till u want sum :"))
i = 1
sum = 0

while i<=n:
  sum = sum + (i*i) # i value will change everytime until the condition in while loop satisfies
  i = i+1
print(sum, 'is sum' )

# for cube just multiply i three times----------------------

Enter the number till u want sum :2
5 is sum

In [ ]:
# Python program to print duplicates from a list of integers

lis = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
unq_list = []
dup_list = []

for i in lis:
  if i not in unq_list:
    unq_list.append(i)
  elif i not in dup_list:
    dup_list.append(i)

print(dup_list)

[1, 2, 5, 9]

In [ ]:
#Fibonacci numbers series

num =  int(input("Enter the number till you want in this series:"))
first = 0
second = 1
for i in range(num):
  print(first) # it prints 0 however times num is given
  temp = first
  first = second
  second = temp + second

Enter the number till you want in this series:7
0
1
1
2
3
5
8

In [ ]:
# To check whether number is fibonacci or not

import math

def PerSq(x):
  s = int(math.sqrt(x)) # it gives the sqrt of x, it will give result in flot and so using int we convert it in integer
  return s*s == x

n = int(input("Enter a number: "))
result1 = 5*(n*n)+4 # the given n number after solving should be a perfect sq or atleast one of them i.e -4 one should be per sq
result2 = 5*(n*n)-4 # the given n number after solving should be a perfect sq or atleast one of them i.e +4 one should be per sq

if PerSq(result1) or PerSq(result2):
  print(n, "is a fibonacci number-impressive")
else:
  print(n, "is not a fibonacci number-duh")

Enter a number: 10
10 is not a fibonacci number-duh

In [ ]:
#. Write a program that will convert celsius value to fahrenheit

temp = float(input("Enter the temp:"))
fahrenheit = (temp*1.8)+32
print(fahrenheit)

Enter the temp:5.2
41.36

In [ ]:
#To check entered number is perfect or not PF:-is a positive integer that is equal to the sum of its proper divisors. The smallest perfect number is 6, which is the sum of 1, 2, and 3.

num =  int(input("Enter the number, I know you can :) "))
result = 0

for i in range(1, num):
  if num%i == 0:
    result = result+i
if result == num:
  print(num,"is perfect no")
else:
  print(num,"is not a perfect no")

Enter the number, I know you can :)90
90 is not a perfect no

In [ ]:
#To remove multiple elements from a list

listnum = [12, 44, 67, 89]
del listnum[0:2]
print(listnum)

[67, 89]

**String que**

In [ ]:
#To count vowels from a sentence

sentence = input("Enter the sentence:")
sentence1 = sentence.lower()
vowel = ['a','e','i','o','u']
count = 0

for ch in sentence1:
  if ch in vowel:
    count = count + 1

print("Number of vowels in given sentence is:",count)

Enter the sentence:cause am the one
Number of vowels in given sentence is: 7

In [ ]:
# find no of occurances of each vowel present in str

s = 'vanguardiumleviosa'
vowel = {'a','e','i','o','u'}
d = {}

for ch in s:
  if ch in vowel:
    d[ch] = d.get(ch, 0)+1  #???
for k,v in sorted(d.items()):
  print('{} occurs {} times'.format(k,v))

a occurs 3 times
e occurs 1 times
i occurs 2 times
o occurs 1 times
u occurs 2 times

In [ ]:
# Program to print string whose number are more than 5

l1 = ['Apple', "Grapes", "Lemon", "pomogrenate", "litchi", "yoghurt"]
l2 = []
l3 = lambda x: len(x)>5

for y in l1:
  if l3(y)== True:
    l2.append(y)
print(l2)

['Grapes', 'pomogrenate', 'litchi', 'yoghurt']

In [ ]:
# program to reverse given string
'''
s = 'nikki'
rev = s[::-1]
print(rev)
'''
# without using slicing

s = 'nikki'
emp = ''
i = len(s)-1
while i> 0:
  emp = emp + s[i]
  i = i-1
print(emp)

ikki

In [ ]:
#program to reverse order of words

s = 'Watashi wa saigo anatawa des'
l = s.split()
l1 = l[::-1]
l2 = ' '.join(l1)
l2

'des anatawa saigo wa Watashi'

In [ ]:
# to reverse internal content of each word

s = "Anatawa des osomama des shino nu"
l = s.split()
l1 = []
for word in l:
  l1.append(word[::-1])
out = ' '.join(l1)
print(l1)

['awatanA', 'sed', 'amamoso', 'sed', 'onihs', 'un']

In [ ]:
#to print char present at even odd seperately

string = "qwerty"
i = 0
print("Characters present at even index")
while (i<len(string)):
  print(string[i])
  i = i+2

#for odd just change i = 1

Characters present at even index
q
e
t

In [ ]:
# to sort char of strings first alpha followed by digits

s = 'B3H5j8L0'
alphas = []
digits = []

for ch in s:
  if ch.isalpha():
    alphas.append(ch)
  else:
    digits.append(ch)

output = ' '.join(sorted(alphas) + sorted(digits))
print(output)

B H L j 0 3 5 8

In [ ]:
def s1(**Kwargs):
  print(Kwargs)

s1(name='Nik', rollno = 100, marks = 900)

{'name': 'Nik', 'rollno': 100, 'marks': 900}

In [ ]:
# prg for following requirement in = a4b3c2 out = aaaabbbcc

s = 'a4b3c2'
output = ''

for ch in s:
  if ch.isalpha():
    x = ch
  else:
    d = int(ch)
    output = output + x*d
print(''.join(sorted(output)))

aaaabbbcc

In [ ]:
# In = a4k3b2   out = aeknbd  ???

s = 'a4k3b2'
output = ' '

for ch in s:
  if ch.isalpha():
    output = output + ch
    x = ch
  else:
    d = int(ch)

In [ ]:
#in = abaabbca  out = 4a3b1c ???

s = 'abaabbca'
d = {}

for ch in s:
  d[ch] = d.get(ch, 0)+1

In [ ]:
# To remove duplicate values from string

s = 'asdffgghaeryjkll'
output = ''

for ch in s:
  if ch not in output:
    output = output + ch
print(output)

asdfgheryjkl

In [ ]:
#Find no. of occurances of each char present in str

s = 'AAVVHHJ'
l = []

for ch in s:
  if ch not in l:
    l.append(ch)
for ch in sorted(l):
  print('{} occurs {} times'.format(ch, s.count(ch)))

A occurs 2 times
H occurs 2 times
J occurs 1 times
V occurs 2 times

In [ ]:
#check whether two str are anagrams or not

s1 = input('Enter a word')
s2 = input('Enter another word, would ya?')

if sorted(s1)==sorted(s2):
  print('ITS ANAGRAM')
else:
  print('NOT A ANAGRAM boooo')

Enter a wordlazy
Enter another word, would ya?zaly
ITS ANAGRAM

List ques from geeks

In [ ]:
#Python program to interchange first and last elements in a list

l1 = [1,2,45,67,66,0]
n = l1[0]
l1[0] = l1[len(l1)-1]
l1[len(l1)-1] = n
print(l1)

[0, 2, 45, 67, 66, 1]

In [ ]:
#Python program to swap two elements in a list

list1 = [88,90,77,4,66]
pos1,pos2 = 0,3
list1[pos1],list1[pos2] = list1[pos2],list1[pos1]
print(list1)

[4, 90, 77, 88, 66]

In [ ]:
#Ways to find length of list

l1 = [20,88,99,5,0,33,7,90,0,00]
count = 0
for i in l1:
  count = count+1
print('Length of list is : ', count)

Length of list is :  10

In [ ]:
#Check if element exists in list in Python

l1 = [1, 6, 3, 5, 3, 4]
i = 0
if i in l1:
    print('exists')
else:
    print('Nope')

Nope

In [ ]:
# Different ways to clear a list in Python

list1 = [2,34,5,6,6]
list1.clear()
list1

# with *=
list1 *=0
list1

[]

In [ ]:
#Reversing a list 

list1 = [2,34,5,6,6]
l = list1[::-1]
l

# or with .reverse

[6, 6, 5, 34, 2]

In [ ]:
#program to find the sum of all the elements in the list.

list1 = [2,34,5,6,6,2]
tot = 0

for i in range(0, len(list1)):
  tot = tot + list1[i]

print('sum of elements is', tot)

sum of elements is 55

In [ ]:
#Multiply all numbers in the list
'''
l1 = [1, 2, 3]
result = 1

for x in l1:
  result = result*x
print(result)
'''
# using function

def multiply(x):
  result = 1
  for i in x:
    result = result * i
  return result
l2 = [1,2,3]
print(multiply(l2))

6

In [ ]:
#program to find smallest number in a list

l1 = [10, 20, 4, 45, 99]
l1.sort()
print(l1[0])

# or use min

4

In [ ]:
#program to find largest number in a list

l1 = [10, 20, 4, 100, 45, 99]
l1.sort()
print(l1[-1])

100

In [ ]:
# program to find largest number in a list while taking input from user  ???

num = int(input("Enter number of elements in list: "))
list1 = []

for i in range(1, num+1):
  ele = int(input("Enter elements: "))
  list1.append(ele)

print("Largest element is:", max(list1))

In [ ]:
#program to find second largest number in a list

list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
l2 = list(set(list1))
l2.sort()
print('Second largest is',l2[-2])

Second largest is 45

In [ ]:
# Python program to print Even Numbers in a List

list1 = [10, 21, 4, 45, 66, 93]
l2 = []
for num in list1:
  if num%2==0:
    l2.append(num)
print(l2)

[10, 4, 66]

In [ ]:
# Python program to print odd Numbers in a List

list1 = [10, 21, 4, 45, 66, 93]
l2 = []
for num in list1:
  if num%2==1:
    l2.append(num)
print(l2)

[21, 45, 93]

In [ ]:
# Python program to print Even Numbers in given range

start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))

for i in range(start, end+1):
  if i%2==0:
    print(i, end=' ')
# for odd change 0 = 1

Enter the start of range: 2
Enter the end of range: 18
2 4 6 8 10 12 14 16 18

In [1]:
#program to print positive numbers in a list

list1 = [12, -7, 5, 64, -14]
for i in list1:
  if i<0:
    list1.remove(i)
print(list1)

[12, 5, 64]

In [4]:
#program to print all negative numbers in a range

start = int(input('Enter the starting number'))
end = int(input('Enter the ending number'))

for i in range(start, end+1):
  if i<0:
    print(i, end=' ')

Enter the starting number-9
Enter the ending number10
-9 -8 -7 -6 -5 -4 -3 -2 -1

In [13]:
#Remove empty List from List

test_list = [5, 6, [], 3, [], [], 9]
result = [elm for elm in test_list if elm!=[]]
print(result)

# or
res = list(filter(None, test_list))
print(res)

[5, 6, 3, 9]
[5, 6, 3, 9]

In [15]:
# Python program to remove empty tuples from a list

tup = [(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]
remove = [elm for elm in tup if elm]
print(remove)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [16]:
#Cloning or Copying a list

def cloning(l1):
  copy = []
  copy.extend(l1)
  return copy

l1 = [4, 8, 2, 10, 15, 18]
l2 = cloning(l1)
print("Original List:", l1)
print("After Cloning:", l2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [22]:
#Count occurrences of an element in a list

def occur(l1, x):
  count = 0
  for elm in l1:
    if (elm == x):
      count = count+1
  return count

l1 = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occured {} times'.format(x,occur(l1, x)))

8 has occured 5 times