<a href="https://colab.research.google.com/github/Nikkiie/Python-questions/blob/main/Mixed_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### PY-Q from pynative

In [ ]:
# Print First 10 natural numbers using while loop

n = 1
while n <= 10:
  print(n)
  n = n+1

In [ ]:
# triangle pattern

n = int(input('Enter'))
for i in range(1, n+1):
  for j in range(1, i+1):
    print(j,end =' ')
  print()

In [ ]:
# Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

n = int(input('Enter'))
sum = 0
for i in range(1, n+1,1):
  sum = sum+i
print(sum)

Enter2
3

In [ ]:
# Write a program to print multiplication table of a given number

n = int(input('Enter a number to get is table-'))
for i in range(1, n*1):

In [ ]:
number = int(input('Input a number: '))
for i in range(1,11):
  p = number*i
  print(p)
  print('%d x %d = %d' % (number, i,  number*i))

In [ ]:
# Write a program to display only those numbers from a list that satisfy the following conditions
'''
The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop'''

n = [12, 75, 150, 180, 145, 525, 50]
for item in n:
    if item > 500:
        break
    elif item > 150:
        continue
    elif item % 5 == 0:
        print(item)

75
150
145

In [ ]:
# Write a program to count the total number of digits in a number using a while loop.

number = int(input('Input a number: '))
count = 0
while number != 0:
  number = number //10
  count +=1
print('Total digits are 'count)

Input a number: 78695
5

In [ ]:
# Print list in reverse order using a loop

l1 = [10, 20, 30, 40, 50]
size = reversed(l1)
for item in size:
  print(item)

50
40
30
20
10

In [ ]:
# Display numbers from -10 to -1 using for loop

for i in range(-10,0,1):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [ ]:
# Use else block to display a message “Done” after successful execution of for loop

for i in range(5):
  print(i)
else:
  print('Done')

0
1
2
3
4
Done

In [ ]:
# Write a program to display all prime numbers within a range

start = int(input("Enter the number:"))
end = int(input("Enter the number:"))

for i in range(start, end+1):
  if i > 1:
    for j in range(2, i):
      if i%j==0:
        break
    else:
      print(i, 'is A prime number')

Enter the number:25
Enter the number:50
29 is A prime number
31 is A prime number
37 is A prime number
41 is A prime number
43 is A prime number
47 is A prime number

In [ ]:
# Display Fibonacci series up to 10 terms

num =  int(input("Enter the number till you want in this series:"))
first = 0
second = 1
for i in range(num):
  print(first)
  temp = first
  first = second
  second = temp + second

In [ ]:
# Find the factorial of a given number

n = int(input('Enter a number: '))
result = 1
for i in range(n,0,-1):
  result = result*i
print("Factorial of", n, "is", result)

Enter a number: 5
Factorial of 5 is 120

In [ ]:
# Reverse a given integer number

# using slice
n = 76542
print(str(n)[::-1])

# using while???
num = 76542
reverse_number = 0
print("Given Number ", num)
while num > 0:
    reminder = num % 10
    reverse_number = (reverse_number * 10) + reminder
    num = num // 10
print("Revere Number ", reverse_number)

24567
Given Number  76542
Revere Number  24567

In [ ]:
# Use a loop to display elements from a given list present at odd index positions

n = [55, 6, 77, 33, 44, 66, 24, 345, 246]

for i in n[1::2]:
  print(i, end=' ')

6 33 66 345

In [ ]:
# Calculate the cube of all numbers from 1 to a given number

n = int(input('Enter a number till u want cube: '))

if n > 1:
  for i in range(1, n+1):
    print(i*i*i)

Enter a number till u want cube: 5
1
8
27
64
125

In [8]:
'''Write a program to calculate the sum of series up to n term.
 For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690'''

n = 5
start = 2
sq = 0

for i in range(0, n):
  print(start, end = "+")
  sq = sq+start
  start = start *10 + 2
print("\nSum of above series is:", sq)

2+22+222+2222+22222+
Sum of above series is: 24690

In [10]:
# start width pattern using the for loop

width = int(input('choose pattern width '))
for i in range(1, width):
  print('*'*i)
for i in range(width, 0, -1):
  print('*'*i)

choose pattern width 3
*
**
***
**
*

**Alma q**

In [ ]:
#prime or not - a number that can be divided exactly only by itself and 1, for example 7, 17 and 41

num = int(input("Enter the number:"))
if num >1:
  for i in range(2, num): # here range is 2 to num bcz we want the num to be checked with 2 rather than 0 or 1 aur the num which we provided.
    if (num%2) ==0:
      print(num, 'is NOT a prime number')
      break
  else:
    print(num, 'is A prime number')
    
else:
  print(num, 'is not a prime number') # as 1 is not a prime number so this else will give output that it is not a prime number

Enter the number:7
7 is A prime number

In [ ]:
#Swap 1st and last element in list

l1 = [88,90,77,4,66]
l2 = l1[0]
l1[0] = l1[len(l1)-1]
l1[len(l1)-1] = l2
print(l1)

[66, 90, 77, 4, 88]

In [ ]:
# python program to double the number in list of numbers

numbers = [1, 2, 3, 4, 5]
doubled_numbers = [num * 2 for num in numbers]
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [ ]:
#Swap any two element in list

list1 = [88,90,77,4,66]
p1,p2 = 1,4
list1[p1],list1[p2] = list1[p2],list1[p1]
print(list1)

[88, 66, 77, 4, 90]

In [ ]:
# Python program to print Even Numbers in a List also for odd

l1 = [10, 21, 4, 45, 66, 93]
l2 = []
for i in l1:
  if i%2==0:
    l2.append(i)
print(l2)

# For odd change 0=1

[21, 45, 93]

In [ ]:
#Whether num is even or odd 

num = int(input('Enter a number'))
if num % 2==0:
  print('even')
else:
  print('odd')

Enter a number2
even

In [ ]:
#Sum of element

list1 = [2,34,5,6,6,2]
tot = 0

for i in range(0, len(list1)):
  tot = tot + list1[i]

print('sum of elements is', tot)

In [ ]:
list1 = [2,34,5,6,6,2,1]
tot = 0

for i in range(0, len(list1)):
  tot += list1[i]
print('sum of elements is', tot)

sum of elements is 56

In [ ]:
#count occurance of element i list

s = [1,2,3,4,4,5,6,5]
l = []

for ch in s:
  if ch not in l:
    l.append(ch)
for ch in sorted(l):
  print('{} occurs {} times'.format(ch, s.count(ch)))

1 occurs 1 times
2 occurs 1 times
3 occurs 1 times
4 occurs 2 times
5 occurs 2 times
6 occurs 1 times

In [ ]:
#count occurance of element in string

s = 'AAVVHHJ'
l = []

for ch in s:
  if ch not in l:
    l.append(ch)
for ch in sorted(l):
  print('{} occurs {} times'.format(ch, s.count(ch)))

A occurs 2 times
H occurs 2 times
J occurs 1 times
V occurs 2 times

In [ ]:
#Reverse a str

n = 'Nope'
n2 = n[::-1]
n2

'epoN'

In [ ]:
#program to find second largest number in a list

list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
l2 = list(set(list1))
l2.sort()
print('Second largest is',l2[-2])

Second largest is 45

In [ ]:
#Smallest and largest number

l1 = [10,7,8,20,77,5]
l1.sort()
print(l1[0])
print(l1[-1])

5
77

In [ ]:
#Len of list

s= [20,88,99,5,0,33,7,90,0,0]
count = 0
for i in s:
  count = count+1
print('len of list is', count)

len of str is 10

In [ ]:
# Len of string

s = 'wodoeof'
count = 0   
for i in s:
  count += 1
print('len of string is',count)

len of string is 7

In [ ]:
#Sum of len

### Pattern prgs

In [ ]:
# To print triangle pattern 

n = int(input('Enter a number: '))
for i in range(1, n+1):
  for j in range(1, i+1):
    print(j, end='')
  print()

Enter a number8
1
12
123
1234
12345
123456
1234567
12345678

In [ ]:
n = int(input('Enter a number: '))
for i in range(n,0,-1):
  for j in range(1, i+1):
    print(j, end='')
  print()

Enter a number: 9
123456789
12345678
1234567
123456
12345
1234
123
12
1

In [ ]:
n = int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i, end='')
  print()

Enter a number: 5
1
22
333
4444
55555

In [ ]:
# program to add two numbers: 

one = int(input('Gimme some digits: '))
two = int(input('Gimme some digits: '))

s = one + two
print('Sum is = ', s)

Gimme some digits: 7
Gimme some digits: 7
Sum is =  14

In [ ]:
# To print max number

def maximum(a,b):
  if a>b:
    return a
  else:
    return b

print('The maximum number is: ', maximum(8,3))

The maximum number is:  8

In [ ]:
#To find max of 3 numbers

n1 = int(input("Enter the number:"))
n2 = int(input("Enter the number:"))
n3 = int(input("Enter the number:"))

if n1>n2 and n1>n3:
  largest = n1
elif n2>n1 and n2>n3:
  largest = n2
else:
  largest = n3

print('Largest among above is:', largest)

Enter the number:6
Enter the number:8
Enter the number:9
Largest among above is: 9

In [ ]:
#  To find S.I

def simple_int(p,r,t):
  print('The principal is:', p)
  print('The rate is:', r)
  print('The time is:', t)
  si = (p*r*t)/100
  print('The simple int is ',si)
  return si

simple_int(100,4,2)

The principal is: 100
The rate is: 4
The time is: 2
The simple int is  8.0

8.0

In [ ]:
# To find factorial of number

n = int(input('Enter a number: '))
result = 1 # this will hold final output
for i in range(n, 0,-1): # we want n in backward, where starting is n ending is 0 and stepping is -1
  result = result*i
print("Factorial of", n, "is", result)

Enter a number: 3
Factorial of 3 is 6

In [ ]:
#To swap the numbers

a = int(input("Enter the number:"))
b = int(input("Enter the number:"))

c = a
a = b
b = c

print("After swapping")
print("The value of a is", a)
print("The value of b is", b)

Enter the number:0
Enter the number:9
After swapping
The value of a is 9
The value of b is 0

In [ ]:
#To swap the numbers without the third variable

a = int(input("Enter the number:"))
b = int(input("Enter the number:"))

a = a+b
b = a-b
a = a-b

print("After swapping")
print("The value of a is", a)
print("The value of b is", b)

Enter the number:66
Enter the number:90
After swapping
The value of a is 90
The value of b is 66

In [ ]:
# To find C.I

def C_I(p,r,t):
  amount = p*(pow((1+r/100),t))
  compound_interest = amount-p
  print("Compound Interest is", compound_interest)

C_I(10000,10.25,5)

Compound Interest is 6288.946267774416

In [ ]:
#Program to find area of circle

r = int(input("Enter area in number:"))
formula = r*r*3.14

print("Area of circle is:", formula)

Enter area in number:3
Area of circle is: 28.26

In [ ]:
# To check entered number is prime or not - a number that can be divided exactly only by itself and 1, for example 7, 17 and 41

num = int(input("Enter the number:"))
if num > 1:
  for i in range(2, num):
    if (num%2) == 0:
      print(num, "is NOT a PRIME number")
      break
    else:
      print(num, 'is a prime number')
      break
else:
  print(num, "IT is NOT a PRIME number")

Enter the number:10
10 is NOT a PRIME number

In [ ]:
# To print prime numbers

lower = int(input("Enter the lower number:"))
upper = int(input("Enter the upper number:"))

for i in range(lower, upper+1):
  if i>1:
    for j in range(2, i):
      if (i%j)==0:
        break
      else:
        print(i)
        break

Enter the lower number:3
Enter the upper number:9
3
5
7
9

In [ ]:
# Program for Sum of square of first n natural numbers

n = int(input("Enter the number till u want sum :"))
i = 1
sum = 0

while i<=n:
  sum = sum + (i*i) # i value will change everytime until the condition in while loop satisfies
  i = i+1
print(sum, 'is sum' )

# for cube just multiply i three times----------------------

Enter the number till u want sum :3
14 is sum

In [ ]:
# Python program to print duplicates from a list of integers

lis = [1, 2, 1, 2, 3, 4, 5, 1, 1, 2, 5, 6, 7, 8, 9, 9]
unq_list = []
dup_list = []

for i in lis:
  if i not in unq_list:
    unq_list.append(i)
  elif i not in dup_list:
    dup_list.append(i)

print(dup_list)

[1, 2, 5, 9]

In [ ]:
#Fibonacci numbers series

num =  int(input("Enter the number till you want in this series:"))
first = 0
second = 1
for i in range(num):
  print(first) # it prints 0 however times num is given
  temp = first
  first = second
  second = temp + second

In [ ]:
# To check whether number is fibonacci or not

import math

def PerSq(x):
  s = int(math.sqrt(x)) # it gives the sqrt of x, it will give result in flot and so using int we convert it in integer
  return s*s == x

n = int(input("Enter a number: "))
result1 = 5*(n*n)+4 # the given n number after solving should be a perfect sq or atleast one of them i.e -4 one should be per sq
result2 = 5*(n*n)-4 # the given n number after solving should be a perfect sq or atleast one of them i.e +4 one should be per sq

if PerSq(result1) or PerSq(result2):
  print(n, "is a fibonacci number-impressive")
else:
  print(n, "is not a fibonacci number-duh")

Enter a number: 10
10 is not a fibonacci number-duh

In [ ]:
#. Write a program that will convert celsius value to fahrenheit

temp = float(input("Enter the temp:"))
fahrenheit = (temp*1.8)+32
print(fahrenheit)

Enter the temp:5.2
41.36

In [ ]:
#To check entered number is perfect or not PF:-is a positive integer that is equal to the sum of its proper divisors. The smallest perfect number is 6, which is the sum of 1, 2, and 3.

num =  int(input("Enter the number, I know you can :) "))
result = 0

for i in range(1, num):
  if num%i == 0:
    result = result+i
if result == num:
  print(num,"is perfect no")
else:
  print(num,"is not a perfect no, baka")

Enter the number, I know you can :)90
90 is not a perfect no

In [ ]:
#To remove multiple elements from a list

listnum = [12, 44, 67, 89]
del listnum[0:2]
print(listnum)

[67, 89]

**String que**

In [ ]:
#To count vowels from a sentence

sentence = input("Enter the sentence:")
sentence1 = sentence.lower()
vowel = ['a','e','i','o','u']
count = 0

for ch in sentence1:
  if ch in vowel:
    count = count + 1

print("Number of vowels in given sentence is:",count)

Enter the sentence:cause am the one
Number of vowels in given sentence is: 7

In [ ]:
# find no of occurances of each vowel present in str

s = 'vanguardiumleviosa'
vowel = {'a','e','i','o','u'}
d = {}

for ch in s:
  if ch in vowel:
    d[ch] = d.get(ch, 0)+1  #???
for k,v in sorted(d.items()):
  print('{} occurs {} times'.format(k,v))

a occurs 3 times
e occurs 1 times
i occurs 2 times
o occurs 1 times
u occurs 2 times

In [ ]:
# Program to print string whose number are more than 5

l1 = ['Apple', "Grapes", "Lemon", "pomogrenate", "litchi", "yoghurt"]
l2 = []
l3 = lambda x: len(x)>5

for y in l1:
  if l3(y)== True:
    l2.append(y)
print(l2)

['Grapes', 'pomogrenate', 'litchi', 'yoghurt']

In [ ]:
# program to reverse given string
'''
s = 'nikki'
rev = s[::-1]
print(rev)
'''
# without using slicing

s = 'nikki'
emp = ''
i = len(s)-1
while i> 0:
  emp = emp + s[i]
  i = i-1
print(emp)

ikki

In [ ]:
#program to reverse order of words

s = 'Watashi wa saigo anatawa des'
l = s.split()
l1 = l[::-1]
l2 = ' '.join(l1)
l2

'des anatawa saigo wa Watashi'

In [ ]:
# to reverse internal content of each word

s = "Anatawa des osomama des shino nu"
l = s.split()
l1 = []
for word in l:
  l1.append(word[::-1])
out = ' '.join(l1)
print(l1)

['awatanA', 'sed', 'amamoso', 'sed', 'onihs', 'un']

In [ ]:
# to print char present at even odd seperately

string = "qwerty"
i = 1
print("Characters present at even index")
while (i<len(string)):
  print(string[i])
  i = i+2

#for odd just change i = 1

Characters present at even index
w
r
y

In [ ]:
# to sort char of strings first alpha followed by digits

s = 'B3H5j8L0'
alphas = []
digits = []

for ch in s:
  if ch.isalpha():
    alphas.append(ch)
  else:
    digits.append(ch)

output = ' '.join(sorted(alphas) + sorted(digits))
print(output)

B H L j 0 3 5 8

In [ ]:
def s1(**Kwargs):
  print(Kwargs)

s1(name='Nik', rollno = 100, marks = 900)

{'name': 'Nik', 'rollno': 100, 'marks': 900}

In [ ]:
# prg for following requirement in = a4b3c2 out = aaaabbbcc

s = 'a4b3c2'
output = ''

for ch in s:
  if ch.isalpha():
    x = ch
  else:
    d = int(ch)
    output = output + x*d
print(''.join(sorted(output)))

aaaabbbcc

In [ ]:
# In = a4k3b2   out = aeknbd  ???

s = 'a4k3b2'
output = ' '

for ch in s:
  if ch.isalpha():
    output = output + ch
    x = ch
  else:
    d = int(ch)

In [ ]:
#in = abaabbca  out = 4a3b1c ???

s = 'abaabbca'
d = {}

for ch in s:
  d[ch] = d.get(ch, 0)+1

In [ ]:
# To remove duplicate values from string

s = 'asdffgghaeryjkll'
output = ''

for ch in s:
  if ch not in output:
    output = output + ch
print(output)

asdfgheryjkl

In [ ]:
s = 'asdffgghaeryjkll'
output = ''

for ch in s:
  if ch not in output:
    output += ch
print(output)

asdfgheryjkl

In [ ]:
#Find no. of occurances of each char present in str

s = 'AAVVHHJ'
l = []

for ch in s:
  if ch not in l:
    l.append(ch)
for ch in sorted(l):
  print('{} occurs {} times'.format(ch, s.count(ch)))

A occurs 2 times
H occurs 2 times
J occurs 1 times
V occurs 2 times

In [ ]:
#check whether two str are anagrams or not

s1 = input('Enter a word')
s2 = input('Enter another word, would ya?')

if sorted(s1)==sorted(s2):
  print('ITS ANAGRAM')
else:
  print('NOT A ANAGRAM boooo')

Enter a worddog
Enter another word, would ya?god
ITS ANAGRAM

List ques from geeks

In [ ]:
#Python program to interchange first and last elements in a list

l1 = [1,2,45,67,66,0]
n = l1[0]
l1[0] = l1[len(l1)-1]
l1[len(l1)-1] = n
print(l1)

[0, 2, 45, 67, 66, 1]

In [ ]:
#Python program to swap two elements in a list

list1 = [88,90,77,4,66]
pos1,pos2 = 0,3
list1[pos1],list1[pos2] = list1[pos2],list1[pos1]
print(list1)

[4, 90, 77, 88, 66]

In [ ]:
#Ways to find length of list

l1 = [20,88,99,5,0,33,7,90,0,00]
count = 0
for i in l1:
  count = count+1
print('Length of list is : ', count)

Length of list is :  10

In [ ]:
#Check if element exists in list in Python

l1 = [1, 6, 3, 5, 3, 4]
i = 0
if i in l1:
    print('exists')
else:
    print('Nope')

Nope

In [ ]:
# Different ways to clear a list in Python

list1 = [2,34,5,6,6]
list1.clear()
list1

# with *=
list1 *=0
list1

[]

In [ ]:
#Reversing a list 

list1 = [2,34,5,6,6]
l = list1[::-1]
l

# or with .reverse

[6, 6, 5, 34, 2]

In [ ]:
#program to find the sum of all the elements in the list.

list1 = [2,34,5,6,6,2]
tot = 0

for i in range(0, len(list1)):
  tot = tot + list1[i]

print('sum of elements is', tot)

sum of elements is 55

In [ ]:
#Multiply all numbers in the list
'''
l1 = [1, 2, 3]
result = 1

for x in l1:
  result = result*x
print(result)
'''
# using function

def multiply(x):
  result = 1
  for i in x:
    result = result * i
  return result
l2 = [1,2,3]
print(multiply(l2))

6

In [ ]:
#program to find smallest number in a list

l1 = [10, 20, 4, 45, 99]
l1.sort()
print(l1[0])

# or use min

4

In [ ]:
#program to find largest number in a list

l1 = [10, 20, 4, 100, 45, 99]
l1.sort()
print(l1[-1])

100

In [ ]:
# program to find largest number in a list while taking input from user  ???

num = int(input("Enter number of elements in list: "))
list1 = []

for i in range(1, num+1):
  ele = int(input("Enter elements: "))
  list1.append(ele)

print("Largest element is:", max(list1))

In [ ]:
# Python program to print Even Numbers in a List

list1 = [10, 21, 4, 45, 66, 93]
l2 = []
for num in list1:
  if num%2==0:
    l2.append(num)
print(l2)

[10, 4, 66]

In [ ]:
# Python program to print odd Numbers in a List

list1 = [10, 21, 4, 45, 66, 93]
l2 = []
for num in list1:
  if num%2==1:
    l2.append(num)
print(l2)

[21, 45, 93]

In [ ]:
# Python program to print Even Numbers in given range

start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))

for i in range(start, end+1):
  if i%2==0:
    print(i, end=' ')
# for odd change 0 = 1

Enter the start of range: 2
Enter the end of range: 18
2 4 6 8 10 12 14 16 18

In [ ]:
#program to print positive numbers in a list

list1 = [12, -7, 5, 64, -14]
for i in list1:
  if i<0:
    list1.remove(i)
print(list1)

[12, 5, 64]

In [ ]:
#program to print all negative numbers in a range

start = int(input('Enter the starting number'))
end = int(input('Enter the ending number'))

for i in range(start, end+1):
  if i<0:
    print(i, end=' ')

Enter the starting number-9
Enter the ending number10
-9 -8 -7 -6 -5 -4 -3 -2 -1

In [ ]:
#Remove empty List from List

test_list = [5, 6, [], 3, [], [], 9]
result = [elm for elm in test_list if elm!=[]]
print(result)

# or
res = list(filter(None, test_list))
print(res)

[5, 6, 3, 9]
[5, 6, 3, 9]

In [ ]:
# Python program to remove empty tuples from a list

tup = [(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]
remove = [elm for elm in tup if elm]
print(remove)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [ ]:
#Cloning or Copying a list

def cloning(l):
  copy = []
  copy.extend(l)
  return copy
l1 = [4, 8, 2, 10, 15, 18]
l2 = cloning(l1)
print("Original List:", l1)
print("After Cloning:", l2)

Original List: [4, 8, 2, 10, 15, 18]
After Cloning: [4, 8, 2, 10, 15, 18]

In [ ]:
#Count occurrences of an element in a list

def occur(l,x):
  count = 0
  for elm in l1:
    if (elm==x):
      count = count +1
    return count
    
l1 = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occured {} times'.format(x,occur(l1, x)))

8 has occured 1 times

In [ ]:
# Remove elements larger than a specific value from a list in

num = [30, 200, 65, 88, 98, 500, 34]
num_select = [i for i in num if i <= 88]
num_select

[30, 65, 88, 34]

In [ ]:
num = [30, 200, 65, 88, 98, 500, 34]
for n in num:
  if n > 65:
    num.remove(n)
print(num)

[30, 65, 98, 34]

In [ ]:
#Find index of maximum item in list

num = [30, 200, 65, 88, 98, 500, 34]
num_max = max(num)
print('Index of max item is', num.index(num_max))

Index of max item is 5

In [ ]:
# program to delete the last element from the list
'''
name = ["Geeks", "For", "Geeks"]
name_pop = name.pop()
name
'''
# or using slice
name_ = ["Geeks", "For", "Geeks"]
name = name_[:-1]
name

['Geeks', 'For']

In [ ]:
#Program to Square Each Odd Number in a List using List Comprehension

l = [4, 10, 5, 3, 3]
l1 = [i*i for i in l if i%2!=0]
l1

[25, 9, 9]

In [ ]:
#program to find the sum of a Sublist??

In [ ]:
# Remove common elements from two list in Python

l1 = ['a', 'b', 'c']
l2 = ['a', 'z', 'c']

l3 = list(set(l1).symmetric_difference(l2))
l3

['b', 'z']

In [ ]:
#Only Index which contain String in List

list1 = ['sravan', 98, 'harsha', 'jyothika', 'deepika', 78, 90, 'ramya']

for i in list1:
  if (type(i)==str):
    print(list1.index(i))

0
2
3
4
7

In [ ]:
#Convert list of dictionaries to dictionary of lists

data = [
    {'name': 'sravan', 'subjects': ['java', 'python']},
    {'name': 'bobby', 'subjects': ['c/cpp', 'java']},
    {'name': 'ojsawi', 'subjects': ['iot', 'cloud']},
    {'name': 'rohith', 'subjects': ['php', 'os']},
    {'name': 'gnanesh', 'subjects': ['html', 'sql']}]

dict_list ={}
for item in data:
  name = item['name']
  dict_list[name] = item
dict_list

{'sravan': {'name': 'sravan', 'subjects': ['java', 'python']},
 'bobby': {'name': 'bobby', 'subjects': ['c/cpp', 'java']},
 'ojsawi': {'name': 'ojsawi', 'subjects': ['iot', 'cloud']},
 'rohith': {'name': 'rohith', 'subjects': ['php', 'os']},
 'gnanesh': {'name': 'gnanesh', 'subjects': ['html', 'sql']}}

In [ ]:
#Concatenate two list of lists Row-wise

test_list1 = [[4, 3, 5, ], [1, 2, 3], [3, 7, 4]]
test_list2 = [[1, 3], [9, 3, 5, 7], [8]]

for i in range(0, len(test_list1)):
  test_list1[i].extend(test_list2[i])
print("The concatenated Matrix : " + str(test_list1))

The concatenated Matrix : [[4, 3, 5, 1, 3], [1, 2, 3, 9, 3, 5, 7], [3, 7, 4, 8]]

### Loops and conditional stat

In [ ]:
# Python program to find those numbers which are divisible by 7 and multiple of 5, between 1500 and 2700 (both included).

l1 = []
for i in range(1500,2701):
  if i%7==0 and i%5==0:
    l1.append(i)
print(l1)

In [ ]:
# python program to double the number in list of numbers

numbers = [1, 2, 3, 4, 5]
doubled_numbers = [num * 2 for num in numbers]
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [ ]:
#Python program to convert temperatures to and from celsius, fahrenheit.

def c_v(temp,scale_n):
  if scale_n == 'C':
    converted = temp*9/5+32
  elif scale_n == 'F':
    converted = (temp-32)*5/9
  return converted

t = float(input('enter temperature '))
s = input('For Fahrenheit press F or C for Celsius:)').upper()

if s == 'F':
    print('%.0f°F is %.0f in Celsius' % (t, c_v(t, s)))
elif s == 'C':
    print('%.0f°C is %.0f in Fahrenheit' % (t, c_v(t, s)))

enter temperature 83.0
For Fahrenheit press F or C for Celsius:)F
83°F is 28 in Celsius

In [ ]:
#Write a Python program to guess a number between 1 to 9.

from random import randint

num = randint(1,9)
guess = int(input('guess a number between 1 and 9: '))

while guess != num:
  guess = int(input('you guessed wrong, guess again:( '))

print('Yup, you guessed right:)')

In [ ]:
# Python program to construct the following pattern, using a nested for loop.

width = int(input('choose pattern width '))
for i in range(1, width):
  print('*'*i)
for i in range(width, 0, -1):
  print('*'*i)

choose pattern width 6
*
**
***
****
*****
******
*****
****
***
**
*

In [ ]:
# Python program that accepts a word from the user and reverse it.

word = input('please enter a word ')
word_list = list(word)
print(''.join(word_list[::-1]))

please eneter a word yukh
hkuy

In [ ]:
# Python program to count the number of even and odd numbers

numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9)
even_count = 0
odd_count = 0

for i in numbers:
  if i%2==0:
    even_count += 1
  else:
    odd_count +=1
print('Number of even numbers: %d' % even_count)
print('Number of odd numbers: %d' % odd_count)

Number of even numbers: 4
Number of odd numbers: 5

In [ ]:
#Python program that prints each item and its corresponding type

datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1),
            [5, 12], {"class":'V', "section":'A'}]

for i in datalist:
  print(i, type(i))

In [ ]:
#Python program that prints all the numbers from 0 to 6 except 3 and 6.

for i in range(7):
  if i==3 or i==6:
    continue
  print(i, end=' ')

0 1 2 4 5

In [ ]:
'''
Python program which iterates the integers from 1 to 50. For multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz".
 For numbers which are multiples of both three and five print "FizzBuzz".'''

for i in range(1,51):
  if i%3==0 and i%5==0:
    print('FizzBuzz')
  elif i%3==0:
    print('Fizz')
  elif i%5==0:
    print('Buzz')
  else:
    print(i)

In [ ]:
'''
Python program which takes two digits m (row) and n (column)
as input and generates a two-dimensional array. The element value in the i-th
row and j-th column of the array should be i*j. ??? '''

rows = 3
columns = 4

dim = [[column*row for column in range(columns)] for row in range(rows)]
print(dim)

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [ ]:
# Python program that accepts a string and calculate the number of digits and letters. 

str_let = input('enter something: ')
digits = 0
alpha = 0

for i in str_let:
  if i.isdigit():
    digits += 1
  if i.isalpha():
    alpha += 1
print('There are', digits, 'digits and' ,alpha, 'letter')

enter something: pyt890
There are 3 digits and 3 str_let

In [ ]:
# Python program to check the validity of password input by users. ???

password = input('please enter a valid pasword: ')
while True:
    length, digits, lowers, uppers, characters = 0, 0, 0, 0, 0
    if len(password) > 6 and len(password) < 16:
        length = 1
    for i in password:
        if i.isdigit():
            digits = 1
            continue
        if i.islower():
            lowers = 1
            continue
        if i.isupper():
            uppers = 1
            continue
        if i in '$#@':
            characters = 1
            continue
    rules = [length, digits, lowers, uppers, characters]
    if all(rules):
        print('your password is good')
        break
    else:
        print('your password is not good, try again')
        password = input('please enter a valid pasword: ')

In [ ]:
#Python program to convert month name to a number of days. 

months = ['January', 'February', 'March', 'April', 'May', 'June', 'July',
          'August', 'September', 'October', 'November', 'December']
month = input('please enter a month ').title() # title() method returns a string where the first character in every word is upper case. 
if month in months:
  if month == 'February':
    print('No. of days: 28/29 days')
  elif month in ('April', 'June', 'September', 'November'):
    print('No. of days: 30 days')
  else:
    print('No. of days: 31 days')
else:
    print('Did you even put correct name:|')

please enter a month September
No. of days: 30 days

In [ ]:
#  Python program to sum of two given integers. However, if the sum is between 15 to 20 it will return 20.

int1 = int(input('integer 1: '))
int2 = int(input('integer 2: '))

def sum_int(i, j):
  sum = i+j
  if sum in range(15,21):
      return 20
  else:
      return sum
print(sum_int(int1,int2))

integer 1: 99
integer 2: 1
100

In [ ]:
#Python program to check a triangle is equilateral, isosceles or scalene. 
'''
Note:
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with (at least) two equal sides.
'''

x = int(input('x: '))
y = int(input('y: '))
z = int(input('z: '))

if x == y == z:
  print('equilateral')
elif  x != y != z:
    print('scalene')
else:
    print('isosceles')

x: 4
y: 4
z: 7
isosceles

In [ ]:
#Write a Python program to create the multiplication table

number = int(input('Input a number: '))
for i in range(1,11):
  print('%d x %d = %d' % (number, i,  number*i))

Input a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

TUPLE

In [ ]:
# Python program to convert a tuple to a string.
my_tuple = ('a', 'b')
my_string = ''.join(my_tuple)
print(my_string)

ab