<a href="https://colab.research.google.com/github/Nikkiie/Python-questions/blob/main/Pandas_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas questions

In [2]:
import pandas as pd
import numpy as np

In [ ]:
# Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

import pandas as pd

d = pd.Series([2,4,6])
d

0    2
1    4
2    6
dtype: int64

In [ ]:
# Write a Python program to convert a Panda module Series to Python list and it's type.

import pandas as pd

d = pd.Series([2,4,6])
print(d)
l1 = (d.tolist())
l1

0    2
1    4
2    6
dtype: int64

[2, 4, 6]

In [ ]:
# Python program to add, subtract, multiple and divide two Pandas Series. 

x = pd.Series([2, 4, 6, 8, 10])
y = pd.Series([1, 3, 5, 7, 9])

print(x+y)
print(x-y)
print(x*y)
print(x/y)

In [ ]:
# Python program to compare the elements of the two Pandas Series. 

x = pd.Series([2, 3, 3, 8, 10])
y = pd.Series([1, 3, 5, 7, 9])

print('x is greater than y', x[x>y])
print('x is smaller than y', x[x<y])
print('x is  equals to y', x[x==y])

x is greater than y 0     2
3     8
4    10
dtype: int64
x is smaller than y 2    3
dtype: int64
x is  equals to y 1    3
dtype: int64

In [ ]:
# Python program to display the following data column wise.

d = {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
df = pd.DataFrame(d)
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [ ]:
#Write a Python program to create and display a DataFrame from a specified dictionary data which has the index labels.
xam_data = {'name': ['Anastasia',
                      'Dima',
                      'Katherine',
                      'James',
                      'Emily',
                      'Michael',
                      'Matthew',
                      'Laura',
                      'Kevin',
                      'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a','b','c','d','e','f','g','h','i','j']
df = pd.DataFrame(xam_data,labels)
df

In [ ]:
#Write a Python program to display a summary of the basic information about a specified DataFrame and its data.

exam_data = {'name': ['Anastasia',
                      'Dima',
                      'Katherine',
                      'James',
                      'Emily',
                      'Michael',
                      'Matthew',
                      'Laura',
                      'Kevin',
                      'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, labels)
print(df)
print(df.info())
print(df.describe(include = 'all'))

In [ ]:
#Write a Python program to get the first 3 rows of a given DataFrame.

exam_data = {'name': ['Anastasia',
                      'Dima',
                      'Katherine',
                      'James',
                      'Emily',
                      'Michael',
                      'Matthew',
                      'Laura',
                      'Kevin',
                      'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, labels)
print(df.iloc[:-3])
print(df.loc['d'])

In [10]:
# Write a Python program to select the 'name' and 'score' columns from the following DataFrame.

exam_data = {'name': ['Anastasia',
                      'Dima',
                      'Katherine',
                      'James',
                      'Emily',
                      'Michael',
                      'Matthew',
                      'Laura',
                      'Kevin',
                      'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, labels)
print(df[['name', 'score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [11]:
'''
Write a Python program to select the specified columns and rows from a given
data frame.
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
'''
exam_data = {'name': ['Anastasia',
                      'Dima',
                      'Katherine',
                      'James',
                      'Emily',
                      'Michael',
                      'Matthew',
                      'Laura',
                      'Kevin',
                      'Jonas'],
             'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data, labels)
print(df[['name','score']].iloc[[1,3,5,6]])

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5