<a href="https://colab.research.google.com/github/Nikkiie/Python-questions/blob/main/Pandas_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas questions

In [1]:
import pandas as pd

In [ ]:
# Write a Python program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

import pandas as pd

d = pd.Series([2,4,6])
d

0    2
1    4
2    6
dtype: int64

In [ ]:
# Write a Python program to convert a Panda module Series to Python list and it's type.

import pandas as pd

d = pd.Series([2,4,6])
print(d)
l1 = (d.tolist())
l1

0    2
1    4
2    6
dtype: int64

[2, 4, 6]

In [ ]:
# Python program to add, subtract, multiple and divide two Pandas Series. 

x = pd.Series([2, 4, 6, 8, 10])
y = pd.Series([1, 3, 5, 7, 9])

print(x+y)
print(x-y)
print(x*y)
print(x/y)

In [3]:
# Python program to compare the elements of the two Pandas Series. 

x = pd.Series([2, 3, 3, 8, 10])
y = pd.Series([1, 3, 5, 7, 9])

print('x is greater than y', x[x>y])
print('x is smaller than y', x[x<y])
print('x is  equals to y', x[x==y])

x is greater than y 0     2
3     8
4    10
dtype: int64
x is smaller than y 2    3
dtype: int64
x is  equals to y 1    3
dtype: int64

In [6]:
# Python program to display the following data column wise.

d = {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
df = pd.DataFrame(d)
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83