<a href="https://colab.research.google.com/github/Nikkiie/Python-questions/blob/main/PYnative_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercise for Beginners**

In [ ]:
#Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.
# my way
'''
n1 = 40
n2 = 30

if n1*n2 <= 1000:
  print(n1*n2)
else:
  print(n1+n2)'''

#using function

def func(n1,n2):
  pro = n1*n2
  sum = n1+n2
  if pro <= 1000:
    return pro
  else:
   return sum

print(func(20,30))

600

In [ ]:
#Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

num = 0
for i in range(0,10):
  sum = num+i
  print("Current Number", i, "Previous Number ", num, " Sum: ", sum)
  num = i

Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [ ]:
#Write a program to accept a string from the user and display characters that are present at an even index number.

g = input('Enter a string:::)))')
length = len(g)
for i in range(0,length-1,2):
  print(g[i])

Enter a stringtruionj
t
u
o

In [ ]:
#Write a program to remove characters from a string starting from zero up to n and return a new string??????

remove_chars= "pynative"
n = 12

if n< len(remove_chars):
  s = remove_chars[4:]
print(s)

tive

In [ ]:
# Write a function to return True if the first and last number of a given list is same. If numbers are different then return False.

def fir_last(numList):
  first_num = numList[0]
  last_num = numList[-1]

  if first_num==last_num:
    return True
  else:
    return False

num_x = [10, 20, 30, 40, 10]
print("result is", fir_last(num_x))

num_y = [75, 65, 35, 75, 30]
print("result is", fir_last(num_y))

result is True
result is False

In [ ]:
#Iterate the given list of numbers and print only those numbers which are divisible by 5

l1= [10, 20, 33, 46, 55]
for i in l1:
  if i%5==0:
    print(i)

10
20
55

In [5]:
# Write a program to find how many times substring “Emma” appears in the given string.

x = "Emma is good developer. Emma is a writer"
c = x.count('Emma')
print(c)

2

In [ ]:
n = int(input('Enter a number: '))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(i, end='')
  print()

In [7]:
#Write a program to check if the given number is a palindrome number.

num = int(input("Enter some number"))
s = num[::-1]
for i in num:
  if num == s:
    print("palindrome")
  else:
    print('not')

Enter some number676

TypeError: ignored

STRING-Q

In [ ]:
# Write a program to create a new string made of an input string’s first, middle, and last character.

s = 'mongodb'
res = s[0]
l = len(s)
div = int(l/2)
res = res + s[div]
res = res + s[-1]
print("New String:", res)

New String: mgb

In [ ]:
# Write a program to create a new string made of the middle three characters of an input string.

s = 'mongodb'
l = len(s)
div = int(l/2)
div

3

In [ ]:
# Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.

s1 = "Ault"
s2 = "Kelly"

s3 = int(len(s1)/2)
x = s1[:s3:]
x = x + s2
x = x + s1[s3:]
print(x)

AuKellylt

In [ ]:
# Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.???

s1 = "America"
s2 = "Japan"

s3 = int(len(s1)/2)
x = s1[:s3:]

In [ ]:
# Arrange string characters such that lowercase letters should come first

s1 = "PyNaTiveyuLO"
lower = []
upper = []
for i in s1:
  if i.islower():
    lower.append(i)
  else:
    upper.append(i)

print(''.join(lower+upper))

yaiveyuPNTLO

In [ ]:
# Count all letters, digits, and special symbols from a given string

s1 = "P@#yn26at&^&i5ve"
Chars = 0 
Digits = 0
Symbol =0

for ch in s1:
  if ch.isalpha():
    Chars +=1
  elif ch.isdigit():
    Digits +=1
  else:
    Symbol +=1

print(Chars)
print(Digits)
print(Symbol)

8
3
5

In [ ]:
'''Write a program to check if two strings are balanced. 
For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter'''

s1 = "Ynt"
s2 = "PYnative"
flag = True
for i in s1:
  if i in s2:
    continue
  else:
    flag = False
print(flag)

True

In [ ]:
#Write a program to find all occurrences of “USA” in a given string ignoring the case.

s1 = "Welcome to USA. usa awesome, isn't it?"
wrd = 'usa'
s = s1.lower()
count = s.count(wrd)
print(count)

2

In [ ]:
#Given a string s1, write a program to return the sum and average of the digits that appear in the string, ignoring all other characters.

s1 = "PYnative29@#8496"
tot = 0
count = 0
for num in s1:
  if num.isdigit():
    tot = tot + int(num)
    count = count +1
    avg = tot/count
print("Sum is:", tot, "Average is ", avg)

Sum is: 38 Average is  6.333333333333333

In [ ]:
# Write a program to count occurrences of all characters within a string

s1 = "Apple"
chr_dict = dict()

for ch in s1:
  count = s1.count(ch)
  chr_dict[ch]=count
print('Result:', chr_dict)

Result: {'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
#Reverse a given string

s1 = "Apple"
s2 = s1[::-1]
print(s2)

elppA

In [ ]:
#Write a program to find the last position of a substring “Emma” in a given string.

s1 = "Emma is a data scientist who knows Python. Emma works at google."
s2 = s1.rfind('Emma')
print("Last occurrence of Emma starts at index:", s2)

Last occurrence of Emma starts at index: 43

In [ ]:
# Write a program to split a given string on hyphens and display each substring.
s1 = "Emma-is-a-data-scientist"
s2 = s1.split("-")
for s in s2:
  print(s)

Emma
is
a
data
scientist

In [ ]:
# Remove empty strings from a list of strings

#s1 = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
#s2 = [i for i in s1 if i]
#print(s2)

# using filter

s2 = list(filter(None, s1))
print(s2)

['Emma', 'Jon', 'Kelly', 'Eric']

In [ ]:
#Remove special symbols / punctuation from a string
import re

s1 = "/*Jon is @developer & musician"
res = re.sub(r'[^\w\s]', '', s1)
print(res)

Jon is developer  musician

In [ ]:
# Removal all characters from a string except integers

str1 = 'I am 25 years and 10 months old'
print("Original string is", str1)

# Retain Numbers in String
# Using list comprehension + join() + isdigit()
res = "".join([item for item in str1 if item.isdigit()])

print(res)

In [ ]:
# Write a program to find words with both alphabets and numbers from an input string.

s1 = "Emma25 is Data scientist50 and AI Expert"
res = []
temp = s1.split()

for item in temp:
  if any(ch.isalpha() for ch in item) and any(ch.isdigit() for ch in item):
    res.append(item)
for i in res:
    print(i)

Emma25
scientist50

In [ ]:
# Replace each special symbol with # in the following string
import string
s1 = '/*Jon is @developer & musician!!'
replace_ch = '#'

for ch in string.punctuation:
  s1 = s1.replace(ch, replace_ch)
print(s1)

##Jon is #developer # musician##

**List-Q**

In [ ]:
# Reverse a list in Python

l1 = [100, 200, 300, 400, 500]
l2 = l1[::-1]
l2

# using reverse func
l1.reverse()
l1

[500, 400, 300, 200, 100]

In [ ]:
#Given a list of numbers. write a program to turn every item of a list into its square.

num = [1, 2, 3, 4, 5, 6, 7]
ls = [i*i for i in num]
ls

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
# Concatenate two lists index-wise

l1 = ["M", "na", "i", "Ke"]
l2 = ["y", "me", "s", "lly"]

l3 = [i+j for i, j in zip(l1,l2)]
print(l3)

['My', 'name', 'is', 'Kelly']

In [ ]:
'''Concatenate two lists in the following order
['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']'''

l1 = ["Hello ", "take "]
l2 = ["Dear", "Sir"]

l3 = [i+j for i in l1 for j in l2]
l3

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [ ]:
'''Given a two Python list. Write a program to iterate both lists simultaneously and display items from
 list1 in original order and items from list2 in reverse order'''

l1 = [10, 20, 30, 40]
l2 = [100, 200, 300, 400]
for i,j in zip(l1,l2[::-1]):
  print(i,j)

10 400
20 300
30 200
40 100

In [ ]:
#Remove empty strings from the list of strings

list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
#l2 = [i for i in list1 if i]
#l2

#using filter

res = list(filter(None,list1))
print(res)

['Mike', 'Emma', 'Kelly', 'Brad']

In [ ]:
#Write a program to add item 7000 after 6000 in the following Python List

l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l1[2][2].append(7000)
l1

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [ ]:
#You have given a nested list. Write a program to extend it by adding the sublist ["h", "i", "j"] 

l1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]
l1[2][1][2].extend(sub_list)
l1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [ ]:
#Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item

l1 = [5, 10, 15, 20, 25, 50, 20]
ind = l1.index(20)
l1[ind]= 200
print(l1)

[5, 10, 15, 200, 25, 50, 20]

In [ ]:
#Given a Python list, write a program to remove all occurrences of item 20.

l1 = [5, 20, 15, 20, 25, 50, 20]
for num in l1:
  if num == 20:
    l1.remove(20)
print(l1)

# using while

while 20 in l1:
  l1.remove(20)
print(l1)

[5, 15, 25, 50]
[5, 15, 25, 50]