<a href="https://colab.research.google.com/github/Nikkiie/Python-questions/blob/main/PYnative_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

STRING-Q

In [ ]:
# Write a program to create a new string made of an input string’s first, middle, and last character.

s = 'mongodb'
res = s[0]
l = len(s)
div = int(l/2)
res = res + s[div]
res = res + s[-1]
print("New String:", res)

New String: mgb

In [ ]:
# Write a program to create a new string made of the middle three characters of an input string.

s = 'mongodb'
l = len(s)
div = int(l/2)
div

3

In [ ]:
# Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.

s1 = "Ault"
s2 = "Kelly"

s3 = int(len(s1)/2)
x = s1[:s3:]
x = x + s2
x = x + s1[s3:]
print(x)

AuKellylt

In [ ]:
# Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.???

s1 = "America"
s2 = "Japan"

s3 = int(len(s1)/2)
x = s1[:s3:]

In [ ]:
# Arrange string characters such that lowercase letters should come first

s1 = "PyNaTiveyuLO"
lower = []
upper = []
for i in s1:
  if i.islower():
    lower.append(i)
  else:
    upper.append(i)

print(''.join(lower+upper))

yaiveyuPNTLO

In [ ]:
# Count all letters, digits, and special symbols from a given string

s1 = "P@#yn26at&^&i5ve"
Chars = 0 
Digits = 0
Symbol =0

for ch in s1:
  if ch.isalpha():
    Chars +=1
  elif ch.isdigit():
    Digits +=1
  else:
    Symbol +=1

print(Chars)
print(Digits)
print(Symbol)

8
3
5

In [ ]:
'''Write a program to check if two strings are balanced. 
For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter'''

s1 = "Ynt"
s2 = "PYnative"
flag = True
for i in s1:
  if i in s2:
    continue
  else:
    flag = False
print(flag)

True

In [ ]:
#Write a program to find all occurrences of “USA” in a given string ignoring the case.

s1 = "Welcome to USA. usa awesome, isn't it?"
wrd = 'usa'
s = s1.lower()
count = s.count(wrd)
print(count)

2

In [ ]:
#Given a string s1, write a program to return the sum and average of the digits that appear in the string, ignoring all other characters.

s1 = "PYnative29@#8496"
tot = 0
count = 0
for num in s1:
  if num.isdigit():
    tot = tot + int(num)
    count = count +1
    avg = tot/count
print("Sum is:", tot, "Average is ", avg)

Sum is: 38 Average is  6.333333333333333

In [ ]:
# Write a program to count occurrences of all characters within a string

s1 = "Apple"
chr_dict = dict()

for ch in s1:
  count = s1.count(ch)
  chr_dict[ch]=count
print('Result:', chr_dict)

Result: {'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [ ]:
#Reverse a given string

s1 = "Apple"
s2 = s1[::-1]
print(s2)

elppA

In [ ]:
#Write a program to find the last position of a substring “Emma” in a given string.

s1 = "Emma is a data scientist who knows Python. Emma works at google."
s2 = s1.rfind('Emma')
print("Last occurrence of Emma starts at index:", s2)

Last occurrence of Emma starts at index: 43

In [2]:
# Write a program to split a given string on hyphens and display each substring.
s1 = "Emma-is-a-data-scientist"
s2 = s1.split("-")
for s in s2:
  print(s)

Emma
is
a
data
scientist

In [4]:
# Remove empty strings from a list of strings

#s1 = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
#s2 = [i for i in s1 if i]
#print(s2)

# using filter

s2 = list(filter(None, s1))
print(s2)

['Emma', 'Jon', 'Kelly', 'Eric']

In [6]:
#Remove special symbols / punctuation from a string
import re

s1 = "/*Jon is @developer & musician"
res = re.sub(r'[^\w\s]', '', s1)
print(res)

Jon is developer  musician

In [ ]:
# Removal all characters from a string except integers

str1 = 'I am 25 years and 10 months old'
print("Original string is", str1)

# Retain Numbers in String
# Using list comprehension + join() + isdigit()
res = "".join([item for item in str1 if item.isdigit()])

print(res)

In [13]:
# Write a program to find words with both alphabets and numbers from an input string.

s1 = "Emma25 is Data scientist50 and AI Expert"
res = []
temp = s1.split()

for item in temp:
  if any(ch.isalpha() for ch in item) and any(ch.isdigit() for ch in item):
    res.append(item)
for i in res:
    print(i)

Emma25
scientist50

In [14]:
# Replace each special symbol with # in the following string
import string
s1 = '/*Jon is @developer & musician!!'
replace_ch = '#'

for ch in string.punctuation:
  s1 = s1.replace(ch, replace_ch)
print(s1)

##Jon is #developer # musician##