<a href="https://colab.research.google.com/github/Nikkiie/Python-questions/blob/main/Python_list_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST QUESTIONS

In [ ]:
# To find length of a list

l1 = [20,88,99,5,0,33,7]
count = 0

for i in l1:
  count = count + 1
print("Length of list is", count)

In [ ]:
# Check if element exists in list in Python

l1 = [1, 6, 3, 5, 3, 4]
num = int(input('Enter any number:'))

if num in l1:
  print("It exists")
else:
    print("It does not exist")

Enter any number:7
It does not exist

In [ ]:
# Python program to swap two elements in a list

list1 = [88,90,77,4,66]
pos1,pos2 = 0,2

list1[pos1],list1[pos2] = list1[pos2],list1[pos1]
print(list1)

[77, 90, 88, 4, 66]

In [ ]:
# Python program to interchange first and last elements in a list

l1 = [1,2,45,67,66,0]
i = l1[0]
l1[0] = l1[len(l1)-1]
l1[len(l1)-1] = i
print(l1)

[0, 2, 45, 67, 66, 1]

In [ ]:
#Reversing a list 
list1 = [2,34,5,6,6]
l = list1[::-1]
l

# Solution 2
list1 = [2,34,5,6,6]
list1.reverse()
list1

[6, 6, 5, 34, 2]

In [ ]:
# Different ways to clear a list in Python

list1 = [2,34,5,6,6]
list1.clear()
list1

# Solution 2
list1 = [2,34,5,6,6]
list1 *= 0
print(list1)

[]

In [ ]:
# program to find the sum of all the elements in the list.

list1 = [2,34,5,6,6]
total = 0

for i in range(0, len(list1)):
  total = total * list1[i]

print("Total is", total)

# Solution 2

list1 = [2,34,5,6,6]
total = sum(list1)
print(total)

Total is 0
53

In [ ]:
# Multiply all numbers in the list

list1 = [1, 2, 3]
result = 1
for i in list1:
  result = result * i

print(result)

# Solution 2

def multiply(listt):
  result = 1
  for i in listt:
    result = result * i

  return result
num = [3,4]
print(multiply(num))

6
12

In [ ]:
# program to find smallest number in a list

list1 = [10, 20, 4, 45, 99]
list1.sort()
print("The smallest number is:", list1[0])

# Solution 2

list1 = [10, 20, 4, 45, 99]
print("The smallest number is:", min(list1))

The smallest number is: 4
The smallest number is: 4

In [ ]:
#program to find largest number in a list while taking input from user

list1 = []
num = int(input("Enter number of elements in list: "))

for i in range(0, num+1):
  ele = int(input("Enter the numbers:"))
  list1.append(ele)

print("The larest number is:", max(list1))

In [ ]:
#program to find second largest number in a list

list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
list2 = list(set(list1))
list2.sort()
print("The second largest number is",list2[-2])

The second largest number is 45

In [ ]:
# Python program to print Even Numbers in a List

list1 = [10, 21, 4, 45, 66, 93]
for num in list1:
  if num%2==0:
    print(num, end=" ")

10 4 66

In [ ]:
# Python program to print odd Numbers in a List

list1 = [10, 21, 4, 45, 66, 93]
for num in list1:
  if num%2==1:
    print(num, end=" ")

21 45 93

In [ ]:
# Python program to print Even Numbers in given range

start = int(input("Enter the starting number:"))
end = int(input("Enter the last number:"))

for num in range(start,end+1):
  if num%2==0:
    print(num, end=" ")

Enter the starting number:4
Enter the last number:9
4 6 8

In [ ]:
# program to print positive numbers in a list

list1 = [12, -7, 5, 64, -14]
for i in list1:
 if i<0:
  list1.remove(i)

print(list1)

[12, 5, 64]

In [ ]:
# Remove empty List from List

test_list = [5, 6, [], 3, [], [], 9]
emp_list  = list(filter(None, test_list))
print(emp_list)

# Solution 2
test_list = [5, 6, [], 3, [], [], 9]
emp = [ele for ele in test_list if ele != []]
print(emp)

[5, 6, 3, 9]
[5, 6, 3, 9]

In [ ]:
# Python program to remove empty tuples from a list

tup = [(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]
rem = [ele for ele in tup if ele]
print(rem)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [ ]:
# Cloning or Copying a list

def clone(list1):
  copy = []
  copy.extend(list1)
  return copy

list1 = [4, 8, 2, 10, 15, 18]
list2 = clone(list1)
print("Original List:", list1)
print("After Cloning:", list2)

In [ ]:
# Count occurrences of an element in a list

def counting(listt,x):
  count = 0
  for val in listt:
    if (val == x):
      count = count + 1
  return count

list1 = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,counting(list1, x)))

8 has occurred 5 times

In [ ]:
#Find index of maximum item in list

num = [30, 200, 65, 88, 98, 500, 34]
inn = max(num)
print('Index of max is', num.index(inn))

Index of max is 5

In [ ]:
# program to delete the last element from the list

num = ['gvjv', 'bjeadb', 'nljv']
p = num.pop()
num


# solution 2

num = num[::-1]
num

['gvjv', 'bjeadb']

In [ ]:
#Program to Square Each Odd Number in a List using List Comprehension

l = [4, 10, 5, 3, 3]
com = [i*i for i in l if i%2==1]
print(com)

[25, 9, 9]

In [ ]:
#Find Index containing String in List

list1 = ['sravan', 98, 'harsha', 'jyothika','deepika', 78, 90, 'ramya']
for i in list1:
  if (type(i)==str):
    print(list1.index(i))

0
2
3
4
7

In [ ]:
#Convert list of dictionaries to dictionary of lists

data = [
    {'name': 'sravan', 'subjects': ['java', 'python']},
    {'name': 'bobby', 'subjects': ['c/cpp', 'java']},
    {'name': 'ojsawi', 'subjects': ['iot', 'cloud']},
    {'name': 'rohith', 'subjects': ['php', 'os']},
    {'name': 'gnanesh', 'subjects': ['html', 'sql']}]

dict_of_list = {}
for item in data:
  save = item['name']
  dict_of_list[save] = item
dict_of_list

{'sravan': {'name': 'sravan', 'subjects': ['java', 'python']},
 'bobby': {'name': 'bobby', 'subjects': ['c/cpp', 'java']},
 'ojsawi': {'name': 'ojsawi', 'subjects': ['iot', 'cloud']},
 'rohith': {'name': 'rohith', 'subjects': ['php', 'os']},
 'gnanesh': {'name': 'gnanesh', 'subjects': ['html', 'sql']}}

In [ ]:
#Concatenate two list of lists Row-wise
test_list1 = [[4, 3, 5, ], [1, 2, 3], [3, 7, 4]]
test_list2 = [[1, 3], [9, 3, 5, 7], [8]]

for i in range(0, len(test_list1)):
  test_list1[i].extend(test_list2[i])
print(str(test_list1))

[[4, 3, 5, 1, 3], [1, 2, 3, 9, 3, 5, 7], [3, 7, 4, 8]]

In [ ]:
#Write a Python program to count the number of strings where the string length is 2 or more and the first and last character  are same from a given list of strings. 

list1 = ['abc', 'xyz', 'aba', '1221', 'yaky']
out = 0
for i in list1:
  if len(i)>1:
    if i[0]==i[len(i)-1]:
      out = out +1
print(out)

3

In [ ]:
#Write a Python program to get a list, sorted in increasing order by the last element in each tuple from a given list of non-empty tuples.

list1 = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted_list = sorted(list1, key = lambda x: x[1])
sorted_list

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
# Write a Python program to find the list of words that are longer than n from a given list of words

def longer_words(words,n):
  long_words = []
  for word in words:
    if len(word)>n:
      long_words.append(word)
  return long_words

list1 = ['gojo', 'sukuna', 'kit', 'levi', 'jok']
print(longer_words(list1,3))

['gojo', 'sukuna', 'levi']

In [ ]:
#Write a Python function that takes two lists and returns True if they have at least one common member

list_one = [1, 2, 3, 4, 5]
list_two = [8, 9, 5, 10, 11]

def common_num(l1,l2):
  for i in l1:
    if i in l2:
      return True
  else:
    return False


print(common_num(list_one,list_two))

True

In [ ]:
#  Write a Python program to print a specified list after removing the 0th, 4th and 5th elements

l1 = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
l2 = []

for i, j in enumerate(l1):
  if i not in [0, 4, 5]:
    l2.append(j)
l2

['Green', 'White', 'Black']

In [ ]:
# Write a Python program to generate a 3*4*6 3D array whose each element is *.

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

In [ ]:
# Write a Python program to print the numbers of a specified list fter removing even numbers from it


my_list = [1, 2, 3, 4, 5]
spec_list = [x for x in my_list if x%2 ==1]
spec_list

[1, 3, 5]

In [ ]:
# Write a Python program to shuffle and print a specified list.

from random import shuffle

l1 = [8, 6, 0, 3, 7]
shuffle(l1)
l1

[7, 8, 0, 6, 3]

In [ ]:
# Write a Python program to generate and print a list of firstand last 5 elements where the values are square of numbers between 1 and 30 (both included).

l1 = [x**2 for x in range(1,31)]
print(l1[:5], l1[-5:])

[1, 4, 9, 16, 25] [676, 729, 784, 841, 900]

In [ ]:
# Write a Python program to generate and print a list except for the first 5 elements, where the values are square of numbers between 1 and 30 (both included).

l1 = [x**2 for x in range(1,31)]
print(l1[5:])

[36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

In [ ]:
# Write a Python program to generate all permutations of a list in Python.
import itertools

l1 = [2,5,6]
print(list(itertools.permutations(l1)))

[(2, 5, 6), (2, 6, 5), (5, 2, 6), (5, 6, 2), (6, 2, 5), (6, 5, 2)]

In [ ]:
# Write a Python program to get the difference between the two lists.

l1 = [1,2,3,4,5,6,"Eren"]
l2 = [4,5,6,7,8]

l3 = list(set(l1) - set(l2))
print(l3)

[1, 2, 3, 'Eren']

In [ ]:
# Write a Python program access the index of a list.

l1 = [1, 2, 3, 4, 5]
for index, value in enumerate (l1):
  print(index)

0
1
2
3
4

In [ ]:
#Write a Python program to find the index of an item in a specified list.

list_ = [1, 2, 3, 4, 5]
index_ = list_.index(5)
index_

4

In [ ]:
# Write a Python program to convert a list of characters into a string.

list_ = ['1', '2', '3', '4', '5']
str_ = ''.join(list_)
str_

'12345'

In [ ]:
# Write a Python program to flatten a shallow list.

l1 = [[1, 2], [3, 4], [5]]
new_list = []
for i in l1:
  for j in i:
    new_list.append(j)

new_list

[1, 2, 3, 4, 5]

In [ ]:
# Write a Python program to append a list to the second list.

l1 = [1, 2, 3, 4, 5, 6, 'you']
l2 = [1, "make", 3, 'orange', 5]

l3 = (l1) + (l2)
l3

[1, 2, 3, 4, 5, 6, 'you', 1, 'make', 3, 'orange', 5]

In [ ]:
# Write a Python program to select an item randomly from a list.
import random

l1 = [6,7,8,9,0,9]
l_choice = random.choice(l1)
l_choice

8

In [ ]:
# Write a python program to check whether two lists are circularly identical.

In [ ]:
# Write a Python program to find the second largest number in a list.
l1 = [1, 2, 3, 4, 5]
l2 = sorted(l1)
print(l2[-2])

4

In [ ]:
# Write a Python program to find the second smallest number in a list.

l1 = [1, 0, 3, 4, 5]
l2 = sorted(l1)
print(l2[1])

1

In [ ]:
# Write a Python program to get unique values from a list.

my_list = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
print(set(my_list))

{1, 2, 3, 4, 5}

In [ ]:
# Write a Python program to get the frequency of the elements in a list. freq = the number of times it exists in a list

l1 = [1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 5, 5, 18,'green']
freq_l1 = []

for i in set(l1):
  freq_l1.append((i,l1.count(i)))
print(freq_l1)

[(1, 2), (2, 2), (3, 2), (4, 2), (5, 4), ('green', 1), (18, 1)]

In [ ]:
# Write a Python program to check whether a list contains a sublist.

l1 = [1, 2, 3, 4, 5]
sub_l1 = [2, 3]

if ''.join(map(str,sub_l1)) in ''.join(map(str,l1)):
  print('true')
else:
  print('false')

true

In [ ]:
# Write a Python program to create a list by concatenating a given list which range goes from 1 to n. 

l1 = ['o','p']
n = 6
new_l = []

for i in range(1, n+1):
  for elem in l1:
    new_l.append(str(elem) + str(i))

print(new_l)

['o1', 'p1', 'o2', 'p2', 'o3', 'p3', 'o4', 'p4', 'o5', 'p5', 'o6', 'p6']

In [ ]:
# Write a Python program to find common items from two lists.

l1 = [1, 2, 3, 4, 5, 'red']
l2 = ['yellow', 'red', 'blue', 2, 5]
l3 = []

for i in l1:
  if i in l2:
    l3.append(i)

print(l3)

[2, 5, 'red']

In [ ]:
# Write a Python program to change the position of every n-th value with the (n+1)th in a list. 

l = [0, 1, 2, 3, 4, 5]
n = 2

new_l = []
for i in range(0, len(l),n):
  new_l.append(l[i+1])
  new_l.append(l[i])

print(new_l)

[1, 0, 3, 2, 5, 4]

In [ ]:
# Write a Python program to convert a list of multiple integers into a single integer.

my_list = [0, 1, 2, 3, 4, 5]

if my_list[0]==0:
  my_list.pop(0)
my_list

single_int = int(''.join(map(str,my_list)))
single_int

12345

In [ ]:
# Write a Python program to find missing and additional values in two lists. Sample data : Missing values in second list: b,a,c Additional values in second list: g,h

l1 = [1, 2, 3, 4, 'x', 'a', 'b', 'c']
l2 = [1, 2, 3, 'x', 'g', 'h']

print('Missing', set(l1)-set(l2))
print('Additional', set(l2)-set(l1))

Missing {'b', 'c', 4, 'a'}
Additional {'h', 'g'}

In [ ]:
#  Write a Python program to split a list into different variables.

my_list = [1, 2, 'a']

x,y,z = my_list

print(x)
print(y)
print(z)

1
2
a

In [ ]:
#  Write a Python program to generate groups of five consecutive numbers in a list (list of consecutive numbers grouped in lists of 5).


my_list = [[(5*x + y) for y in range(1,6)] for x in range(5)]
print(my_list)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15], [16, 17, 18, 19, 20], [21, 22, 23, 24, 25]]

In [ ]:
# Write a Python program to convert a pair of values into a sorted unique array. (list of tuples to sorted list of values).

my_list = [(7, 0), (1, 2), (7, 8), (4, 3), (6, 9), (3, 4)]
new_list = []
for x in my_list:
    for y in x:
        new_list.append(y)
new_set = set(new_list)
print(sorted(new_set))

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
#  Write a Python program to select the odd items of a list.
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8]
l1 = [i for i in my_list if i%2==1]
print(l1)

[1, 3, 5, 7]

In [ ]:
# Write a Python program to insert an element before each element of a list.

l1 = [0, 1, 2, 3, 4, 5]
element = 'x'
for i in range(0, len(l1)*2,2):
  l1.insert(i,element)
print(l1)

['x', 0, 'x', 1, 'x', 2, 'x', 3, 'x', 4, 'x', 5]

In [ ]:
# Write a Python program to print a nested lists (each list on a new line) using the print() function.

my_list = [ [7, 0],  [1, 2],  [7, 8],  [4, 3],  [6, 9],  [3, 4]]
for i in my_list:
  print(i)

In [ ]:
# Write a Python program to convert list to list of dictionaries.

names = ["Black", "Red", "Maroon", "Yellow"]
codes = ["#000000", "#FF0000", "#800000", "#FFFF00"]
color_dict = [dict(color_name = x, color_code = y) for (x,y) in zip (names,codes)]
print(color_dict)

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
# Write a Python program to concatenate elements of a list.

my_list = [1, 2, 3, 4, 5, 'a']
s = ''.join(map(str,my_list))
s

'12345a'

In [2]:
#  Write a Python program to remove key values pairs from a list of dictionary
my_list = [{'x': 1, 'y': 2},
           {'x': 3, 'y': 4},
           {'x': 5, 'y': 6}]

for i in my_list:
  del(i['x'])

print(my_list)

[{'y': 2}, {'y': 4}, {'y': 6}]

In [6]:
#  Write a Python program to compute the similarity between two lists.

lst_one = ["red", "orange", "green", "blue", "white"]
lst_two = ["black", "yellow", "green", "blue"]

print(list(set(lst_one) - set(lst_two)))  
print(list(set(lst_two) - set(lst_one)))

['red', 'white', 'orange']
['black', 'yellow']

In [11]:
my_str = 'anime'

# list of letters
my_list = list(my_str)
print(my_list)

# list of words
my_list = my_str.split()
print(my_list)

['a', 'n', 'i', 'm', 'e']
['anime']

In [22]:
# Python program to replace the last element in a list with another list. 
#Sample data : [1, 3, 5, 7, 9, 10], [2, 4, 6, 8]
#Expected Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]

lst_1 = [1, 3, 5, 7, 9, 10]
lst_2 = [2, 4, 6, 8]

lst_1[len(lst_1)-1:] = lst_2
lst_1

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [37]:
# Python program to check if the n-th element exists in a given list.

my_lst = [1, 3, 5, 7, 9, 10]
n = 1

if len(my_lst)>n:
  print("Yup! {}-th is there".format(n), my_lst)
else:
  print("Nope! {}-th is not there".format(n), my_lst)

Yup! 1-th is there [1, 3, 5, 7, 9, 10]

## Resources from: geeks for geeks,
##                 w3school