<a href="https://colab.research.google.com/github/Nikkiie/Python-questions/blob/main/Python_list_Q.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LIST QUESTIONS

In [ ]:
# To find length of a list

l1 = [20,88,99,5,0,33,7]
count = 0

for i in l1:
  count = count + 1
print("Length of list is", count)

In [ ]:
# Check if element exists in list in Python

l1 = [1, 6, 3, 5, 3, 4]
num = int(input('Enter any number:'))

if num in l1:
  print("It exists")
else:
    print("It does not exist")

Enter any number:7
It does not exist

In [ ]:
# Python program to swap two elements in a list

list1 = [88,90,77,4,66]
pos1,pos2 = 0,2

list1[pos1],list1[pos2] = list1[pos2],list1[pos1]
print(list1)

[77, 90, 88, 4, 66]

In [ ]:
# Python program to interchange first and last elements in a list

l1 = [1,2,45,67,66,0]
i = l1[0]
l1[0] = l1[len(l1)-1]
l1[len(l1)-1] = i
print(l1)

[0, 2, 45, 67, 66, 1]

In [ ]:
#Reversing a list 
list1 = [2,34,5,6,6]
l = list1[::-1]
l

# Solution 2
list1 = [2,34,5,6,6]
list1.reverse()
list1

[6, 6, 5, 34, 2]

In [ ]:
# Different ways to clear a list in Python

list1 = [2,34,5,6,6]
list1.clear()
list1

# Solution 2
list1 = [2,34,5,6,6]
list1 *= 0
print(list1)

[]

In [ ]:
# program to find the sum of all the elements in the list.

list1 = [2,34,5,6,6]
total = 0

for i in range(0, len(list1)):
  total = total + list1[i]

print("Total is", total)

# Solution 2

list1 = [2,34,5,6,6]
total = sum(list1)
print(total)

Total is 53
53

In [ ]:
# Multiply all numbers in the list

list1 = [1, 2, 3]
result = 1
for i in list1:
  result = result * i

print(result)

# Solution 2

def multiply(listt):
  result = 1
  for i in listt:
    result = result * i

  return result
num = [3,4]
print(multiply(num))

6
12

In [ ]:
# program to find smallest number in a list

list1 = [10, 20, 4, 45, 99]
list1.sort()
print("The smallest number is:", list1[0])

# Solution 2

list1 = [10, 20, 4, 45, 99]
print("The smallest number is:", min(list1))

The smallest number is: 4
The smallest number is: 4

In [ ]:
#program to find largest number in a list while taking input from user

list1 = []
num = int(input("Enter number of elements in list: "))

for i in range(0, num+1):
  ele = int(input("Enter the numbers:"))
  list1.append(ele)

print("The larest number is:", max(list1))

In [ ]:
#program to find second largest number in a list

list1 = [10, 20, 20, 4, 45, 45, 45, 99, 99]
list2 = list(set(list1))
list2.sort()
print("The second largest number is",list2[-2])

The second largest number is 45

In [ ]:
# Python program to print Even Numbers in a List

list1 = [10, 21, 4, 45, 66, 93]
for num in list1:
  if num%2==0:
    print(num, end=" ")

10 4 66

In [ ]:
# Python program to print odd Numbers in a List

list1 = [10, 21, 4, 45, 66, 93]
for num in list1:
  if num%2==1:
    print(num, end=" ")

21 45 93

In [ ]:
# Python program to print Even Numbers in given range

start = int(input("Enter the starting number:"))
end = int(input("Enter the last number:"))

for num in range(start,end+1):
  if num%2==0:
    print(num, end=" ")

Enter the starting number:4
Enter the last number:9
4 6 8

In [ ]:
# program to print positive numbers in a list

list1 = [12, -7, 5, 64, -14]
for i in list1:
 if i<0:
  list1.remove(i)

print(list1)

[12, 5, 64]

In [ ]:
# Remove empty List from List

test_list = [5, 6, [], 3, [], [], 9]
emp_list  = list(filter(None, test_list))
print(emp_list)

# Solution 2
test_list = [5, 6, [], 3, [], [], 9]
emp = [ele for ele in test_list if ele != []]
print(emp)

[5, 6, 3, 9]
[5, 6, 3, 9]

In [ ]:
# Python program to remove empty tuples from a list

tup = [(), ('ram','15','8'), (), ('laxman', 'sita'),('krishna', 'akbar', '45'), ('',''),()]
rem = [ele for ele in tup if ele]
print(rem)

[('ram', '15', '8'), ('laxman', 'sita'), ('krishna', 'akbar', '45'), ('', '')]

In [ ]:
# Cloning or Copying a list

def clone(list1):
  copy = []
  copy.extend(list1)
  return copy

list1 = [4, 8, 2, 10, 15, 18]
list2 = clone(list1)
print("Original List:", list1)
print("After Cloning:", list2)

In [ ]:
# Count occurrences of an element in a list

def counting(listt,x):
  count = 0
  for val in listt:
    if (val == x):
      count = count + 1
  return count

list1 = [8, 6, 8, 10, 8, 20, 10, 8, 8]
x = 8
print('{} has occurred {} times'.format(x,counting(list1, x)))

8 has occurred 5 times

In [ ]:
#Find index of maximum item in list

num = [30, 200, 65, 88, 98, 500, 34]
inn = max(num)
print('Index of max is', num.index(inn))

Index of max is 5

In [4]:
# program to delete the last element from the list

num = ['gvjv', 'bjeadb', 'nljv']
p = num.pop()
num


# solution 2

num = num[::-1]
num

['gvjv', 'bjeadb']

In [5]:
#Program to Square Each Odd Number in a List using List Comprehension

l = [4, 10, 5, 3, 3]
com = [i*i for i in l if i%2==1]
print(com)

[25, 9, 9]

In [6]:
#Find Index containing String in List

list1 = ['sravan', 98, 'harsha', 'jyothika','deepika', 78, 90, 'ramya']
for i in list1:
  if (type(i)==str):
    print(list1.index(i))

0
2
3
4
7